all-flows
[{"id":"5f03edf4.e2b114","type":"tab","label":"CaaS-Text","disabled":false,"info":""},{"id":"fed987c1.75a368","type":"tab","label":"APIS","disabled":false,"info":""},{"id":"7ecaa56b.9a7f6c","type":"tab","label":"Dashboards","disabled":false,"info":""},{"id":"f3851a36.0c0468","type":"tab","label":"About","disabled":false,"info":""},{"id":"34972978.9ffb06","type":"tab","label":"Benchmark","disabled":false,"info":""},{"id":"c5546ec.ac7f39","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"ccf5ee6c.fb034","type":"ui_group","z":"7ecaa56b.9a7f6c","name":"Encryption APIs","tab":"21184ede.c123b2","order":1,"disp":true,"width":"6","collapse":false},{"id":"aa062053.c2d41","type":"ui_group","z":"","name":"Encryption data inputs","tab":"5ea4a663.127828","order":1,"disp":true,"width":"8","collapse":false},{"id":"33e7e9b4.bef006","type":"ui_group","z":"","name":"Encryption data outputs","tab":"5ea4a663.127828","order":2,"disp":true,"width":"8","collapse":false},{"id":"2b36cd.3ea19934","type":"ui_group","z":"","name":"Data inputs","tab":"f9b3a478.cb9998","order":1,"disp":true,"width":"8","collapse":false},{"id":"9dcf0e61.e0edf","type":"ui_group","z":"","name":"Data outputs","tab":"f9b3a478.cb9998","order":2,"disp":true,"width":"8","collapse":false},{"id":"1a970f19.e67741","type":"ui_group","z":"","name":"Decryption data inputs","tab":"5ea4a663.127828","order":3,"disp":true,"width":"8","collapse":false},{"id":"95ed56b.8c92da8","type":"ui_group","z":"","name":"Decryption data outputs","tab":"5ea4a663.127828","order":4,"disp":true,"width":"8","collapse":false},{"id":"ebc9dc00.2f36b","type":"ui_group","z":"","name":"Data inputs","tab":"5475c278.b11f6c","order":1,"disp":true,"width":"8","collapse":false},{"id":"9769ca58.e48d88","type":"ui_group","z":"","name":"Data outputs","tab":"5475c278.b11f6c","order":2,"disp":true,"width":"8","collapse":false},{"id":"5ea4a663.127828","type":"ui_tab","z":"","name":"Text Encryption","icon":"lock","order":1},{"id":"f9b3a478.cb9998","type":"ui_tab","z":"","name":"Text Hash","icon":"fingerprint","order":2},{"id":"5475c278.b11f6c","type":"ui_tab","z":"","name":"Text HMAC","icon":"verified_user","order":3},{"id":"1f320e61.acb9e2","type":"ui_group","z":"","name":"About versions","tab":"1da6cafe.971575","order":1,"disp":true,"width":"16","collapse":false},{"id":"750a30c2.7e35e","type":"ui_group","z":"","name":"PRNG","tab":"18de60e1.cb3eff","order":1,"disp":true,"width":"16","collapse":true},{"id":"1da6cafe.971575","type":"ui_tab","z":"","name":"About CaaS","icon":"help","order":7},{"id":"18de60e1.cb3eff","type":"ui_tab","z":"","name":"Dashboards","icon":"dashboard","order":4},{"id":"8990e235.7aab2","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"CaaS (Crypto as a Service) : IBM Client Center, Montpellier","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3f7ab0b4.2a2f9","type":"ui_tab","z":"","name":"Benchmark","icon":"network_check","order":6},{"id":"dc55f2a1.68de1","type":"ui_group","z":"","name":"Action/Reaction","tab":"3f7ab0b4.2a2f9","order":1,"disp":true,"width":"6","collapse":false},{"id":"a2492a34.af8328","type":"ui_group","z":"","name":"HASH","tab":"3f7ab0b4.2a2f9","order":2,"disp":true,"width":"6","collapse":false},{"id":"431b559a.f05d3c","type":"ui_group","z":"","name":"ENCRYPTION","tab":"3f7ab0b4.2a2f9","order":3,"disp":true,"width":"6","collapse":false},{"id":"957fda99.a81088","type":"ui_group","z":"","name":"POST/GET","tab":null,"order":2,"disp":true,"width":"6","collapse":false},{"id":"68838ed5.6674b","type":"ui_group","name":"Group 3","tab":null,"order":3,"disp":true,"width":6},{"id":"b72c7d1b.1f125","type":"ui_group","z":"","name":"POST/GET","tab":null,"order":2,"disp":true,"width":"6","collapse":false},{"id":"8734fb85.180308","type":"ui_group","name":"Group 3","tab":null,"order":3,"disp":true,"width":6},{"id":"45332f11.8b212","type":"ui_tab","z":"","name":"API","icon":"send","order":7},{"id":"808985ec.6e7908","type":"ui_group","z":"","name":"MQTT","tab":"45332f11.8b212","order":1,"disp":true,"width":"20","collapse":false},{"id":"e5120303.b63bf","type":"ui_spacer","name":"spacer","group":"808985ec.6e7908","order":1,"width":1,"height":1},{"id":"d2d4edf4.9dbf9","type":"ui_group","z":"","name":"POST [JSON / TEXT]","tab":"45332f11.8b212","order":2,"disp":true,"width":"20","collapse":false},{"id":"3599c649.eac8aa","type":"mqtt-broker","z":"","name":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ef221f50.67bd9","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-encrypt-aes","method":"post","upload":false,"swaggerDoc":"","x":166,"y":169,"wires":[["df412157.a9774"]]},{"id":"7f611049.4514f","type":"http response","z":"fed987c1.75a368","name":"","statusCode":"","headers":{},"x":971,"y":470,"wires":[]},{"id":"fadd4acb.5da478","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-sha3","method":"post","upload":false,"swaggerDoc":"","x":147,"y":214,"wires":[["73d2005f.62326"]]},{"id":"a2d05b11.a34a48","type":"comment","z":"fed987c1.75a368","name":"POST TEXT","info":"curl -X POST -d 'text data to be encrypted' -H \"Content-type: text/plain\" http://localhost:1880/text-encrypt-aes","x":105,"y":85,"wires":[]},{"id":"a5bd0fff.11da4","type":"comment","z":"fed987c1.75a368","name":"POST JSON","info":"curl -X POST -d '{\"name\":\"Nick\"}' -H \"Content-type: application/json\" http://localhost:1880/json-encrypt-aes","x":100,"y":637,"wires":[]},{"id":"fd2698ad.5f7e78","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-sha224","method":"post","upload":false,"swaggerDoc":"","x":156,"y":256,"wires":[["959eba50.4a1578"]]},{"id":"5a8eb6cc.95ba28","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-sha256","method":"post","upload":false,"swaggerDoc":"","x":155,"y":296,"wires":[["d7681a64.80a3f8"]]},{"id":"42e3e5c1.441bac","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-sha384","method":"post","upload":false,"swaggerDoc":"","x":156,"y":334,"wires":[["86fe304d.d139c"]]},{"id":"ce2b173a.a36e28","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-sha512","method":"post","upload":false,"swaggerDoc":"","x":158,"y":373,"wires":[["29d868f9.ef8a28"]]},{"id":"faf67c1c.52691","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-decrypt-aes","method":"post","upload":false,"swaggerDoc":"","x":167,"y":125,"wires":[["c2038b25.4f2228"]]},{"id":"294cf46f.84476c","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-hmac-sha3","method":"post","upload":false,"swaggerDoc":"","x":168,"y":410,"wires":[["1247a079.0344a"]]},{"id":"c98fe2cb.3a6ce","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-hmac-sha224","method":"post","upload":false,"swaggerDoc":"","x":179,"y":447,"wires":[["f07c6949.84ac68"]]},{"id":"8c30b04a.2260d","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-hmac-sha256","method":"post","upload":false,"swaggerDoc":"","x":178,"y":484,"wires":[["2452bd8d.5a0362"]]},{"id":"8082707a.3c77c","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-hmac-sha384","method":"post","upload":false,"swaggerDoc":"","x":178,"y":521,"wires":[["fdf4a87b.4e5568"]]},{"id":"197945c3.2fb15a","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-hmac-sha512","method":"post","upload":false,"swaggerDoc":"","x":178,"y":558,"wires":[["cc0fa9e8.6514d8"]]},{"id":"876f3ec7.178a7","type":"http in","z":"fed987c1.75a368","name":"","url":"/json-encrypt-aes","method":"post","upload":false,"swaggerDoc":"","x":163,"y":723,"wires":[["34d2037c.ed76cc"]]},{"id":"c6589e34.7d0ae","type":"http in","z":"fed987c1.75a368","name":"","url":"/json-sha3","method":"post","upload":false,"swaggerDoc":"","x":144,"y":768,"wires":[["73d2005f.62326"]]},{"id":"48cada15.d958b4","type":"http in","z":"fed987c1.75a368","name":"","url":"/json-sha224","method":"post","upload":false,"swaggerDoc":"","x":153,"y":810,"wires":[["959eba50.4a1578"]]},{"id":"e7cdc451.3beaf8","type":"http in","z":"fed987c1.75a368","name":"","url":"/json-sha256","method":"post","upload":false,"swaggerDoc":"","x":152,"y":850,"wires":[["d7681a64.80a3f8"]]},{"id":"99bcd3a8.1792e","type":"http in","z":"fed987c1.75a368","name":"","url":"/json-sha384","method":"post","upload":false,"swaggerDoc":"","x":153,"y":888,"wires":[["86fe304d.d139c"]]},{"id":"fea76720.5c91a8","type":"http in","z":"fed987c1.75a368","name":"","url":"/json-sha512","method":"post","upload":false,"swaggerDoc":"","x":155,"y":927,"wires":[["29d868f9.ef8a28"]]},{"id":"f3209cde.0e2ea","type":"http in","z":"fed987c1.75a368","name":"","url":"/json-decrypt-aes","method":"post","upload":false,"swaggerDoc":"","x":164,"y":679,"wires":[["d01f0a9b.c49718","f45ca0cb.333bd"]]},{"id":"adda1469.a7bff8","type":"http in","z":"fed987c1.75a368","name":"","url":"/json-hmac-sha3","method":"post","upload":false,"swaggerDoc":"","x":165,"y":964,"wires":[["1247a079.0344a"]]},{"id":"d93e6fa9.8aa81","type":"http in","z":"fed987c1.75a368","name":"","url":"/json-hmac-sha224","method":"post","upload":false,"swaggerDoc":"","x":176,"y":1001,"wires":[["f07c6949.84ac68"]]},{"id":"b8f72b22.024f78","type":"http in","z":"fed987c1.75a368","name":"","url":"/json-hmac-sha256","method":"post","upload":false,"swaggerDoc":"","x":175,"y":1038,"wires":[["2452bd8d.5a0362"]]},{"id":"f0b5a9ab.10ad68","type":"http in","z":"fed987c1.75a368","name":"","url":"/json-hmac-sha384","method":"post","upload":false,"swaggerDoc":"","x":175,"y":1075,"wires":[["fdf4a87b.4e5568"]]},{"id":"64a783b7.146a3c","type":"http in","z":"fed987c1.75a368","name":"","url":"/json-hmac-sha512","method":"post","upload":false,"swaggerDoc":"","x":175,"y":1112,"wires":[["cc0fa9e8.6514d8"]]},{"id":"34d2037c.ed76cc","type":"json","z":"fed987c1.75a368","name":"","property":"payload","action":"","pretty":false,"x":471.5,"y":719,"wires":[["df412157.a9774"]]},{"id":"ba68b7f1.20b268","type":"json","z":"fed987c1.75a368","name":"","property":"payload","action":"","pretty":false,"x":741,"y":667,"wires":[["7f611049.4514f","656b9626.413498"]]},{"id":"f45ca0cb.333bd","type":"debug","z":"fed987c1.75a368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":571.5,"y":810,"wires":[]},{"id":"4b35215d.3235e","type":"debug","z":"fed987c1.75a368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":778.5,"y":805,"wires":[]},{"id":"656b9626.413498","type":"debug","z":"fed987c1.75a368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":987,"y":809,"wires":[]},{"id":"df412157.a9774","type":"encrypt","z":"fed987c1.75a368","name":"ENCRYPT-AES","algorithm":"AES","key":"MyDataKey","x":515,"y":168,"wires":[["7f611049.4514f"]]},{"id":"c2038b25.4f2228","type":"decrypt","z":"fed987c1.75a368","name":"DECRYPT-AES","algorithm":"AES","key":"MyDataKey","x":517,"y":122,"wires":[["7f611049.4514f"]]},{"id":"d01f0a9b.c49718","type":"decrypt","z":"fed987c1.75a368","name":"DECRYPT-AES","algorithm":"AES","key":"MyDataKey","x":503,"y":676,"wires":[["ba68b7f1.20b268","4b35215d.3235e"]]},{"id":"1247a079.0344a","type":"hmac","z":"fed987c1.75a368","name":"HMAC-SHA3","algorithm":"HmacSHA3","key":"MyDataKey","x":504,"y":409,"wires":[["7f611049.4514f"]]},{"id":"f07c6949.84ac68","type":"hmac","z":"fed987c1.75a368","name":"HMAC-SHA224","algorithm":"HmacSHA224","key":"MyDataKey","x":515,"y":447,"wires":[["7f611049.4514f"]]},{"id":"2452bd8d.5a0362","type":"hmac","z":"fed987c1.75a368","name":"HMAC-SHA256","algorithm":"HmacSHA256","key":"MyDataKey","x":513,"y":484,"wires":[["7f611049.4514f"]]},{"id":"fdf4a87b.4e5568","type":"hmac","z":"fed987c1.75a368","name":"HMAC-SHA384","algorithm":"HmacSHA384","key":"MyDataKey","x":513,"y":521,"wires":[["7f611049.4514f"]]},{"id":"cc0fa9e8.6514d8","type":"hmac","z":"fed987c1.75a368","name":"HMAC-SHA512","algorithm":"HmacSHA512","key":"MyDataKey","x":514,"y":558,"wires":[["7f611049.4514f"]]},{"id":"73d2005f.62326","type":"digest","z":"fed987c1.75a368","name":"SHA3","algorithm":"SHA3","x":486,"y":206,"wires":[["7f611049.4514f"]]},{"id":"959eba50.4a1578","type":"digest","z":"fed987c1.75a368","name":"SHA224","algorithm":"SHA224","x":495,"y":249,"wires":[["7f611049.4514f"]]},{"id":"d7681a64.80a3f8","type":"digest","z":"fed987c1.75a368","name":"SHA256","algorithm":"SHA256","x":494,"y":290,"wires":[["7f611049.4514f"]]},{"id":"86fe304d.d139c","type":"digest","z":"fed987c1.75a368","name":"SHA384","algorithm":"SHA384","x":494,"y":332,"wires":[["7f611049.4514f"]]},{"id":"29d868f9.ef8a28","type":"digest","z":"fed987c1.75a368","name":"SHA512","algorithm":"SHA512","x":490,"y":371,"wires":[["7f611049.4514f"]]},{"id":"8fc15bb1.f36b28","type":"ui_ui_control","z":"fed987c1.75a368","name":"","x":341,"y":47,"wires":[["b7b1eb7f.74e818"]]},{"id":"b7b1eb7f.74e818","type":"ui_template","z":"fed987c1.75a368","group":"957fda99.a81088","name":"","order":0,"width":0,"height":0,"format":"<html>\n    <head></head>\n    <body>\n        <h2>Available APIs are listed below:</h2>\n        <tr>A</tr>\n        <tr>A</tr>\n        <tr>A</tr>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":492,"y":49,"wires":[[]]},{"id":"67635e0d.94243","type":"ui_text_input","z":"5f03edf4.e2b114","name":"","label":"Clear text to encrypt (AES 256)","tooltip":"","group":"aa062053.c2d41","order":1,"width":"8","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":428,"y":69,"wires":[["720a8eb5.ad41c"]]},{"id":"720a8eb5.ad41c","type":"encrypt","z":"5f03edf4.e2b114","name":"Encryption","algorithm":"AES","key":"MyDataKey","x":713,"y":69,"wires":[["5f659295.2d8a3c"]],"inputLabels":["masterkey"]},{"id":"5f659295.2d8a3c","type":"ui_text_input","z":"5f03edf4.e2b114","name":"","label":"Cipher text:","group":"33e7e9b4.bef006","order":1,"width":"8","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":925,"y":68,"wires":[[]]},{"id":"8ea22c4e.0d9ed","type":"ui_text_input","z":"5f03edf4.e2b114","name":"","label":"Clear text to Hash (sha256)","group":"2b36cd.3ea19934","order":2,"width":"14","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":417,"y":208,"wires":[["64881fa7.610e7","999339d1.9ac068","2c979d5a.8ea212","e958b5b6.3f0858","69bd451.2f7cfbc"]]},{"id":"bc4e8f3c.e3fae","type":"ui_text_input","z":"5f03edf4.e2b114","name":"","label":"SHA256 text:","tooltip":"","group":"9dcf0e61.e0edf","order":2,"width":"8","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":924,"y":207,"wires":[[]]},{"id":"c9cac4c.c76a638","type":"ui_text_input","z":"5f03edf4.e2b114","name":"","label":"SHA512 text:","tooltip":"","group":"9dcf0e61.e0edf","order":4,"width":"8","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":923,"y":292,"wires":[[]]},{"id":"64881fa7.610e7","type":"digest","z":"5f03edf4.e2b114","name":"","algorithm":"SHA256","x":705,"y":205,"wires":[["bc4e8f3c.e3fae"]]},{"id":"1394f893.45b2e7","type":"ui_text_input","z":"5f03edf4.e2b114","name":"","label":"Cipher text to decrypt (AES 256):","group":"1a970f19.e67741","order":1,"width":"8","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":439,"y":109,"wires":[["256eb32e.6f557c"]]},{"id":"ba0a5435.ca9698","type":"ui_text_input","z":"5f03edf4.e2b114","name":"","label":"Clear text:","group":"95ed56b.8c92da8","order":1,"width":"8","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":926,"y":108,"wires":[[]]},{"id":"256eb32e.6f557c","type":"decrypt","z":"5f03edf4.e2b114","name":"","algorithm":"AES","key":"MyDataKey","x":703,"y":109,"wires":[["ba0a5435.ca9698"]]},{"id":"6fa9736b.5d888c","type":"ui_text_input","z":"5f03edf4.e2b114","name":"","label":"Clear text to HMAC","tooltip":"","group":"ebc9dc00.2f36b","order":2,"width":"8","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":388,"y":472,"wires":[["65d43924.020cb8","135a33c2.35022c"]]},{"id":"52ae483a.7b7b58","type":"ui_text_input","z":"5f03edf4.e2b114","name":"","label":"HMAC sha256:","tooltip":"","group":"9769ca58.e48d88","order":0,"width":"8","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":932,"y":474,"wires":[[]]},{"id":"3001ab96.318324","type":"ui_text_input","z":"5f03edf4.e2b114","name":"","label":"HMAC sha512:","tooltip":"","group":"9769ca58.e48d88","order":0,"width":"8","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":929,"y":532,"wires":[[]]},{"id":"65d43924.020cb8","type":"hmac","z":"5f03edf4.e2b114","name":"","algorithm":"HmacSHA256","key":"MyDataKey","x":699,"y":472,"wires":[["52ae483a.7b7b58"]]},{"id":"135a33c2.35022c","type":"hmac","z":"5f03edf4.e2b114","name":"","algorithm":"HmacSHA512","key":"MyDataKey","x":695,"y":536,"wires":[["3001ab96.318324"]]},{"id":"999339d1.9ac068","type":"digest","z":"5f03edf4.e2b114","name":"","algorithm":"SHA512","x":705,"y":295,"wires":[["c9cac4c.c76a638"]]},{"id":"2c979d5a.8ea212","type":"digest","z":"5f03edf4.e2b114","name":"","algorithm":"SHA384","x":705,"y":252,"wires":[["329c8b3c.d8b224"]]},{"id":"329c8b3c.d8b224","type":"ui_text_input","z":"5f03edf4.e2b114","name":"","label":"SHA384 text:","tooltip":"","group":"9dcf0e61.e0edf","order":3,"width":"8","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":923,"y":249,"wires":[[]]},{"id":"e958b5b6.3f0858","type":"digest","z":"5f03edf4.e2b114","name":"","algorithm":"SHA224","x":705,"y":333,"wires":[["9a2eb9a.5212148"]]},{"id":"9a2eb9a.5212148","type":"ui_text_input","z":"5f03edf4.e2b114","name":"","label":"SHA224 text:","tooltip":"","group":"9dcf0e61.e0edf","order":1,"width":"8","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":923,"y":330,"wires":[[]]},{"id":"69bd451.2f7cfbc","type":"digest","z":"5f03edf4.e2b114","name":"","algorithm":"SHA3","x":705,"y":368,"wires":[["4967a5db.6dd0ac"]]},{"id":"4967a5db.6dd0ac","type":"ui_text_input","z":"5f03edf4.e2b114","name":"","label":"SHA3 text:","tooltip":"","group":"9dcf0e61.e0edf","order":5,"width":"8","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":923,"y":365,"wires":[[]]},{"id":"a4286d53.64247","type":"ui_text","z":"f3851a36.0c0468","group":"1f320e61.acb9e2","order":0,"width":0,"height":0,"name":"","label":"Icastats version:","format":"{{msg.payload}}","layout":"row-left","x":777,"y":173,"wires":[]},{"id":"5354e788.2653c8","type":"ui_text","z":"f3851a36.0c0468","group":"1f320e61.acb9e2","order":0,"width":0,"height":0,"name":"","label":"Icainfo version:","format":"{{msg.payload}}","layout":"row-left","x":777,"y":227,"wires":[]},{"id":"9060464c.838578","type":"ui_text","z":"f3851a36.0c0468","group":"1f320e61.acb9e2","order":0,"width":"20","height":"2","name":"","label":"Linux version:","format":"{{msg.payload}}","layout":"row-spread","x":775,"y":296,"wires":[]},{"id":"6fffb5e3.26bc1c","type":"exec","z":"f3851a36.0c0468","command":"icastats -v","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":524,"y":169.5,"wires":[["a4286d53.64247"],[],[]]},{"id":"4834fde4.b7cac4","type":"exec","z":"f3851a36.0c0468","command":"icainfo -v","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":520,"y":237.5,"wires":[["5354e788.2653c8"],[],[]]},{"id":"2f5794b3.628d7c","type":"exec","z":"f3851a36.0c0468","command":"cat /etc/*release*","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":551,"y":311.5,"wires":[["9060464c.838578"],[],[]]},{"id":"848c7e55.80ce6","type":"ui_text","z":"f3851a36.0c0468","group":"1f320e61.acb9e2","order":0,"width":0,"height":0,"name":"","label":"OpenSSL version:","format":"{{msg.payload}}","layout":"row-left","x":785,"y":369,"wires":[]},{"id":"b9380337.dcfb1","type":"exec","z":"f3851a36.0c0468","command":"openssl version","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":544,"y":368,"wires":[["848c7e55.80ce6"],[],[]]},{"id":"2194bb50.3b9df4","type":"ui_ui_control","z":"f3851a36.0c0468","name":"","x":245,"y":369,"wires":[["b9380337.dcfb1","2f5794b3.628d7c","6fffb5e3.26bc1c","4834fde4.b7cac4"]]},{"id":"4449ba6f.b038d4","type":"ui_chart","z":"7ecaa56b.9a7f6c","name":"","group":"750a30c2.7e35e","order":1,"width":"0","height":"0","label":"Pseudo Random Number Generation (CPACF)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":816,"y":321,"wires":[[],[]]},{"id":"71aca218.7d754c","type":"ui_ui_control","z":"7ecaa56b.9a7f6c","name":"","x":122,"y":318,"wires":[["6268c7c9.859fb8"]]},{"id":"6268c7c9.859fb8","type":"exec","z":"7ecaa56b.9a7f6c","command":"icastats | grep P_RNG | awk '{print $3}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":426,"y":333.5,"wires":[["4449ba6f.b038d4"],[],[]]},{"id":"a5b187ab.d19cf8","type":"ui_button","z":"34972978.9ffb06","name":"","group":"dc55f2a1.68de1","order":2,"width":0,"height":0,"passthru":false,"label":"Let's benchmark!","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":117,"y":205,"wires":[["9a82af46.c61b7","4b43f156.000ef","dafee986.fcc4d8","21bdccd1.e95334","51fa18a3.ec8448","e3d748bf.fe74f8","80ab56e0.a63d18","659c26ca.003b68","a982968d.6dbdb8"]]},{"id":"9a82af46.c61b7","type":"exec","z":"34972978.9ffb06","command":"openssl speed sha1 | grep sha1 | awk '{print $6}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":467,"y":196.5,"wires":[["8e15a123.003d6"],[],[]]},{"id":"4b43f156.000ef","type":"exec","z":"34972978.9ffb06","command":"openssl speed -evp aes-128-gcm | grep aes-128-gcm | awk '{print $6}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":540,"y":622,"wires":[["9911a549.1cfb38"],[],[]]},{"id":"dafee986.fcc4d8","type":"exec","z":"34972978.9ffb06","command":"openssl speed -evp aes-128-gcm | grep aes-128-gcm | awk '{print $6}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":540,"y":673,"wires":[["803e52a2.1665e"],[],[]]},{"id":"8e15a123.003d6","type":"ui_text","z":"34972978.9ffb06","group":"a2492a34.af8328","order":1,"width":0,"height":0,"name":"","label":"SHA1:","format":"{{msg.payload}}","layout":"row-left","x":823,"y":183,"wires":[]},{"id":"eab5bcbf.66c27","type":"ui_text","z":"34972978.9ffb06","group":"a2492a34.af8328","order":2,"width":0,"height":0,"name":"","label":"SHA2-256:","format":"{{msg.payload}}","layout":"row-left","x":841,"y":239,"wires":[]},{"id":"9911a549.1cfb38","type":"ui_text","z":"34972978.9ffb06","group":"431b559a.f05d3c","order":5,"width":0,"height":0,"name":"","label":"AES-128-GCM","format":"{{msg.payload}}","layout":"row-left","x":906,"y":597,"wires":[]},{"id":"803e52a2.1665e","type":"ui_text","z":"34972978.9ffb06","group":"431b559a.f05d3c","order":6,"width":0,"height":0,"name":"","label":"AES-256-GCM:","format":"{{msg.payload}}","layout":"row-left","x":905,"y":664,"wires":[]},{"id":"e3d748bf.fe74f8","type":"exec","z":"34972978.9ffb06","command":"openssl speed -evp aes-128-cbc | grep aes-128-cbc | awk '{print $6}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":539,"y":518,"wires":[["dc03a77f.230dc8"],[],[]]},{"id":"80ab56e0.a63d18","type":"exec","z":"34972978.9ffb06","command":"openssl speed -evp aes-256-cbc | grep aes-256-cbc | awk '{print $6}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":539,"y":569,"wires":[["21bc68fb.07b198"],[],[]]},{"id":"dc03a77f.230dc8","type":"ui_text","z":"34972978.9ffb06","group":"431b559a.f05d3c","order":1,"width":0,"height":0,"name":"","label":"AES-128-CBC","format":"{{msg.payload}}","layout":"row-left","x":904,"y":502,"wires":[]},{"id":"21bc68fb.07b198","type":"ui_text","z":"34972978.9ffb06","group":"431b559a.f05d3c","order":2,"width":0,"height":0,"name":"","label":"AES-256-CBC:","format":"{{msg.payload}}","layout":"row-left","x":905,"y":553,"wires":[]},{"id":"21bdccd1.e95334","type":"exec","z":"34972978.9ffb06","command":"openssl speed -evp aes-128-xts | grep aes-128-xts | awk '{print $6}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":538,"y":409,"wires":[["b757098e.6a7488"],[],[]]},{"id":"51fa18a3.ec8448","type":"exec","z":"34972978.9ffb06","command":"openssl speed -evp aes-256-xts | grep aes-256-xts | awk '{print $6}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":538,"y":460,"wires":[["e7d18c03.120b1"],[],[]]},{"id":"b757098e.6a7488","type":"ui_text","z":"34972978.9ffb06","group":"431b559a.f05d3c","order":3,"width":0,"height":0,"name":"","label":"AES-128-XTS","format":"{{msg.payload}}","layout":"row-left","x":907,"y":395,"wires":[]},{"id":"e7d18c03.120b1","type":"ui_text","z":"34972978.9ffb06","group":"431b559a.f05d3c","order":4,"width":0,"height":0,"name":"","label":"AES-256-XTS:","format":"{{msg.payload}}","layout":"row-left","x":907,"y":446,"wires":[]},{"id":"659c26ca.003b68","type":"exec","z":"34972978.9ffb06","command":"openssl speed sha256 | grep sha256 | awk '{print $6}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":487,"y":250,"wires":[["eab5bcbf.66c27"],[],[]]},{"id":"771a4d40.a39bc4","type":"ui_text","z":"34972978.9ffb06","group":"a2492a34.af8328","order":4,"width":0,"height":0,"name":"","label":"SHA2-512:","format":"{{msg.payload}}","layout":"row-left","x":845,"y":289,"wires":[]},{"id":"a982968d.6dbdb8","type":"exec","z":"34972978.9ffb06","command":"openssl speed sha512 | grep sha512 | awk '{print $6}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":491,"y":301,"wires":[["771a4d40.a39bc4"],[],[]]},{"id":"78741e68.12229","type":"ui_text","z":"fed987c1.75a368","group":"d2d4edf4.9dbf9","order":3,"width":0,"height":0,"name":"","label":"TEXT - To encrypt a TEXT message:","format":"curl -X POST -d 'text data to be encrypted' -H \"Content-type: text/plain\" http://localhost:1880/text-encrypt-aes","layout":"row-left","x":198,"y":1443,"wires":[]},{"id":"2f735ce4.d238c4","type":"ui_text","z":"fed987c1.75a368","group":"d2d4edf4.9dbf9","order":3,"width":0,"height":0,"name":"","label":"TEXT - To decrypt a TEXT message:","format":"curl -X POST -d 'text data to be decrypted' -H \"Content-type: text/plain\" http://localhost:1880/text-decrypt-aes","layout":"row-left","x":198,"y":1478,"wires":[]},{"id":"7daf9a5f.3f8244","type":"ui_text","z":"fed987c1.75a368","group":"808985ec.6e7908","order":2,"width":0,"height":0,"name":"","label":"To suscribe to the queue \"data to be encrypted\":","format":"mosquitto_sub -v -t 'topic/clear-text-data'","layout":"row-left","x":237,"y":1221,"wires":[]},{"id":"b0d5a60e.3175c8","type":"ui_text","z":"fed987c1.75a368","group":"808985ec.6e7908","order":3,"width":0,"height":0,"name":"","label":"To suscribe to the queue \"data to be decrypted\":","format":"mosquitto_sub -v -t 'topic/encrypted-text-data'","layout":"row-left","x":237,"y":1259,"wires":[]},{"id":"2383e3de.cfee4c","type":"ui_text","z":"fed987c1.75a368","group":"808985ec.6e7908","order":4,"width":0,"height":0,"name":"","label":"To send a message to the \"data to be encrypted\" queue:","format":"mosquitto_pub -t 'topic/clear-text-data' -m 'hello World'","layout":"row-left","x":255,"y":1299,"wires":[]},{"id":"bb783050.a1001","type":"ui_text","z":"fed987c1.75a368","group":"808985ec.6e7908","order":5,"width":0,"height":0,"name":"","label":"To send a message to the \"data to be decrypted\" queue:","format":"mosquitto_pub -t 'topic/encrypted-text-data' -m 'U2FsdGVkX1+2y8MCUF3GP94WyEQ44qL2z6cb8SCnSAw='","layout":"row-left","x":255,"y":1339,"wires":[]},{"id":"bcef4cc2.2ebff","type":"mqtt in","z":"c5546ec.ac7f39","name":"","topic":"topic/clear-text-data","qos":"2","broker":"","x":219,"y":125,"wires":[["51ea612e.387e7"]]},{"id":"7bc07a0d.b4bb54","type":"mqtt in","z":"c5546ec.ac7f39","name":"","topic":"topic/encrypted-text-data","qos":"2","broker":"","x":237,"y":177,"wires":[["d349c3f2.f451e"]]},{"id":"51ea612e.387e7","type":"encrypt","z":"c5546ec.ac7f39","name":"","algorithm":"AES","key":"MyDataKey","x":478,"y":125,"wires":[["6a199893.e2f328"]]},{"id":"d349c3f2.f451e","type":"decrypt","z":"c5546ec.ac7f39","name":"","algorithm":"","key":"MyDataKey","x":481,"y":176,"wires":[["5f31058c.5d081c"]]},{"id":"6a199893.e2f328","type":"mqtt out","z":"c5546ec.ac7f39","name":"","topic":"topic/encrypted-text-data","qos":"","retain":"","broker":"","x":717,"y":124,"wires":[]},{"id":"5f31058c.5d081c","type":"mqtt out","z":"c5546ec.ac7f39","name":"","topic":"topic/clear-text-data","qos":"","retain":"","broker":"","x":710,"y":176,"wires":[]}]
