all-flows
[{"id":"5f03edf4.e2b114","type":"tab","label":"CaaS","disabled":false,"info":""},{"id":"fed987c1.75a368","type":"tab","label":"APIS","disabled":false,"info":""},{"id":"7ecaa56b.9a7f6c","type":"tab","label":"Dashboards","disabled":false,"info":""},{"id":"34972978.9ffb06","type":"tab","label":"Benchmark","disabled":false,"info":""},{"id":"c5546ec.ac7f39","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"f3851a36.0c0468","type":"tab","label":"About","disabled":false,"info":""},{"id":"b5bea840.49f1c8","type":"tab","label":"File-encryption","disabled":false,"info":""},{"id":"ccf5ee6c.fb034","type":"ui_group","z":"7ecaa56b.9a7f6c","name":"Encryption APIs","tab":"21184ede.c123b2","order":1,"disp":true,"width":"6","collapse":false},{"id":"aa062053.c2d41","type":"ui_group","z":"","name":"Encryption data inputs","tab":"5ea4a663.127828","order":1,"disp":true,"width":"9","collapse":false},{"id":"33e7e9b4.bef006","type":"ui_group","z":"","name":"Encryption data outputs","tab":"5ea4a663.127828","order":2,"disp":true,"width":"9","collapse":false},{"id":"2b36cd.3ea19934","type":"ui_group","z":"","name":"Data inputs","tab":"f9b3a478.cb9998","order":1,"disp":true,"width":"9","collapse":false},{"id":"9dcf0e61.e0edf","type":"ui_group","z":"","name":"Data outputs","tab":"f9b3a478.cb9998","order":2,"disp":true,"width":"9","collapse":false},{"id":"1a970f19.e67741","type":"ui_group","z":"","name":"Decryption data inputs","tab":"5ea4a663.127828","order":3,"disp":true,"width":"9","collapse":false},{"id":"95ed56b.8c92da8","type":"ui_group","z":"","name":"Decryption data outputs","tab":"5ea4a663.127828","order":4,"disp":true,"width":"9","collapse":false},{"id":"ebc9dc00.2f36b","type":"ui_group","z":"","name":"Data inputs","tab":"5475c278.b11f6c","order":1,"disp":true,"width":"8","collapse":false},{"id":"9769ca58.e48d88","type":"ui_group","z":"","name":"Data outputs","tab":"5475c278.b11f6c","order":2,"disp":true,"width":"8","collapse":false},{"id":"5ea4a663.127828","type":"ui_tab","z":"","name":"Text Encryption","icon":"lock","order":1},{"id":"f9b3a478.cb9998","type":"ui_tab","z":"","name":"Text Hash","icon":"fingerprint","order":2},{"id":"5475c278.b11f6c","type":"ui_tab","z":"","name":"Text HMAC","icon":"verified_user","order":3},{"id":"1f320e61.acb9e2","type":"ui_group","z":"","name":"About versions","tab":"1da6cafe.971575","order":1,"disp":true,"width":"16","collapse":false},{"id":"1da6cafe.971575","type":"ui_tab","z":"","name":"About CaaS","icon":"help","order":7},{"id":"18de60e1.cb3eff","type":"ui_tab","z":"","name":"Dashboards","icon":"dashboard","order":4},{"id":"8990e235.7aab2","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"CaaS (Crypto as a Service) : IBM Client Center, Montpellier","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3f7ab0b4.2a2f9","type":"ui_tab","z":"","name":"Benchmark","icon":"network_check","order":6},{"id":"dc55f2a1.68de1","type":"ui_group","z":"","name":"Action/Reaction","tab":"3f7ab0b4.2a2f9","order":1,"disp":true,"width":"6","collapse":false},{"id":"a2492a34.af8328","type":"ui_group","z":"","name":"HASH","tab":"3f7ab0b4.2a2f9","order":2,"disp":true,"width":"6","collapse":false},{"id":"431b559a.f05d3c","type":"ui_group","z":"","name":"ENCRYPTION","tab":"3f7ab0b4.2a2f9","order":3,"disp":true,"width":"6","collapse":false},{"id":"957fda99.a81088","type":"ui_group","z":"","name":"POST/GET","tab":null,"order":2,"disp":true,"width":"6","collapse":false},{"id":"68838ed5.6674b","type":"ui_group","name":"Group 3","tab":null,"order":3,"disp":true,"width":6},{"id":"b72c7d1b.1f125","type":"ui_group","z":"","name":"POST/GET","tab":null,"order":2,"disp":true,"width":"6","collapse":false},{"id":"8734fb85.180308","type":"ui_group","name":"Group 3","tab":null,"order":3,"disp":true,"width":6},{"id":"45332f11.8b212","type":"ui_tab","z":"","name":"API","icon":"send","order":7},{"id":"808985ec.6e7908","type":"ui_group","z":"","name":"MQTT","tab":"45332f11.8b212","order":2,"disp":true,"width":"20","collapse":false},{"id":"d2d4edf4.9dbf9","type":"ui_group","z":"","name":"POST [JSON / TEXT]","tab":"45332f11.8b212","order":1,"disp":true,"width":"20","collapse":false},{"id":"3599c649.eac8aa","type":"mqtt-broker","z":"","name":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"750a30c2.7e35e","type":"ui_group","z":"","name":"Advanced Encryption Standard Panel","tab":"18de60e1.cb3eff","order":1,"disp":true,"width":"16","collapse":true},{"id":"8cbec3c8.0e633","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"22e984d7.b98a5c","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"169e4d69.91a8b3","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5b95fd0.e1d2f04","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"12404516.87fc6b","type":"ui_group","z":"","name":"Secure Hash Algorithm Panel","tab":"18de60e1.cb3eff","order":2,"disp":true,"width":"16","collapse":true},{"id":"ef221f50.67bd9","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-decrypt-aes-cbc","method":"post","upload":false,"swaggerDoc":"","x":169.3333740234375,"y":267.3333387374878,"wires":[["41bc13cc.a66f5c"]]},{"id":"7f611049.4514f","type":"http response","z":"fed987c1.75a368","name":"","statusCode":"","headers":{},"x":1244.8093299865723,"y":681.4285144805908,"wires":[]},{"id":"fadd4acb.5da478","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-sha3","method":"post","upload":false,"swaggerDoc":"","x":137.7142219543457,"y":724.9524021148682,"wires":[["73d2005f.62326"]]},{"id":"a2d05b11.a34a48","type":"comment","z":"fed987c1.75a368","name":"POST TEXT","info":"curl -X POST -d 'text data to be encrypted' -H \"Content-type: text/plain\" http://localhost:1880/text-encrypt-aes","x":105,"y":85,"wires":[]},{"id":"fd2698ad.5f7e78","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-sha224","method":"post","upload":false,"swaggerDoc":"","x":146.71421813964844,"y":566.9523754119873,"wires":[["f1f503b5.ba7bb"]]},{"id":"5a8eb6cc.95ba28","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-sha256","method":"post","upload":false,"swaggerDoc":"","x":145.71421813964844,"y":606.9523754119873,"wires":[["fcf9b316.1f1e2"]]},{"id":"42e3e5c1.441bac","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-sha384","method":"post","upload":false,"swaggerDoc":"","x":146.71421813964844,"y":644.9523754119873,"wires":[["1d3ac2a8.1f0c9d"]]},{"id":"ce2b173a.a36e28","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-sha512","method":"post","upload":false,"swaggerDoc":"","x":148.71421813964844,"y":683.9523754119873,"wires":[["8ebad5dd.bb8eb8"]]},{"id":"faf67c1c.52691","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-encrypt-aes-cbc","method":"post","upload":false,"swaggerDoc":"","x":170.3333740234375,"y":223.3333387374878,"wires":[["c49740c9.dcffe"]]},{"id":"294cf46f.84476c","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-hmac-sha3","method":"post","upload":false,"swaggerDoc":"","x":158.7142105102539,"y":787.6189889907837,"wires":[["1247a079.0344a"]]},{"id":"c98fe2cb.3a6ce","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-hmac-sha224","method":"post","upload":false,"swaggerDoc":"","x":169.7142105102539,"y":824.6189889907837,"wires":[["f07c6949.84ac68"]]},{"id":"8c30b04a.2260d","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-hmac-sha256","method":"post","upload":false,"swaggerDoc":"","x":168.7142105102539,"y":861.6189889907837,"wires":[["2452bd8d.5a0362"]]},{"id":"8082707a.3c77c","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-hmac-sha384","method":"post","upload":false,"swaggerDoc":"","x":168.7142105102539,"y":898.6189889907837,"wires":[["fdf4a87b.4e5568"]]},{"id":"197945c3.2fb15a","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-hmac-sha512","method":"post","upload":false,"swaggerDoc":"","x":168.7142105102539,"y":935.6189889907837,"wires":[["cc0fa9e8.6514d8"]]},{"id":"1247a079.0344a","type":"hmac","z":"fed987c1.75a368","name":"HMAC-SHA3","algorithm":"HmacSHA3","key":"MyDataKey","x":994.7141456604004,"y":784.9523019790649,"wires":[["7f611049.4514f"]]},{"id":"f07c6949.84ac68","type":"hmac","z":"fed987c1.75a368","name":"HMAC-SHA224","algorithm":"HmacSHA224","key":"MyDataKey","x":1005.7141456604004,"y":822.9523019790649,"wires":[["7f611049.4514f"]]},{"id":"2452bd8d.5a0362","type":"hmac","z":"fed987c1.75a368","name":"HMAC-SHA256","algorithm":"HmacSHA256","key":"MyDataKey","x":1003.7141456604004,"y":859.9523019790649,"wires":[["7f611049.4514f"]]},{"id":"fdf4a87b.4e5568","type":"hmac","z":"fed987c1.75a368","name":"HMAC-SHA384","algorithm":"HmacSHA384","key":"MyDataKey","x":1003.7141456604004,"y":896.9523019790649,"wires":[["7f611049.4514f"]]},{"id":"cc0fa9e8.6514d8","type":"hmac","z":"fed987c1.75a368","name":"HMAC-SHA512","algorithm":"HmacSHA512","key":"MyDataKey","x":1004.7141456604004,"y":933.9523019790649,"wires":[["7f611049.4514f"]]},{"id":"73d2005f.62326","type":"digest","z":"fed987c1.75a368","name":"SHA3","algorithm":"SHA3","x":970.0474815368652,"y":728.6189250946045,"wires":[["7f611049.4514f"]]},{"id":"8fc15bb1.f36b28","type":"ui_ui_control","z":"fed987c1.75a368","name":"","x":1245.999885559082,"y":147,"wires":[["b7b1eb7f.74e818"]]},{"id":"b7b1eb7f.74e818","type":"ui_template","z":"fed987c1.75a368","group":"957fda99.a81088","name":"","order":0,"width":0,"height":0,"format":"<html>\n    <head></head>\n    <body>\n        <h2>Available APIs are listed below:</h2>\n        <tr>A</tr>\n        <tr>A</tr>\n        <tr>A</tr>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1396.999885559082,"y":149,"wires":[[]]},{"id":"67635e0d.94243","type":"ui_text_input","z":"5f03edf4.e2b114","name":"","label":"Clear text to encrypt (AES 256)","tooltip":"","group":"aa062053.c2d41","order":1,"width":"8","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":493,"y":175.66665935516357,"wires":[["df678ea6.5ea0a","7ddf2c4b.fc98d4"]]},{"id":"5f659295.2d8a3c","type":"ui_text_input","z":"5f03edf4.e2b114","name":"","label":"Cipher text:","group":"33e7e9b4.bef006","order":2,"width":"8","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":1340.5713806152344,"y":151.52380561828613,"wires":[[]]},{"id":"8ea22c4e.0d9ed","type":"ui_text_input","z":"5f03edf4.e2b114","name":"","label":"Clear text to Hash (sha256)","tooltip":"","group":"2b36cd.3ea19934","order":2,"width":"9","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":482,"y":314.6666593551636,"wires":[["69bd451.2f7cfbc","e2a1946c.05d108","a8224103.bfa7c","c0ce8391.7b509","d620ef5a.214f8"]]},{"id":"bc4e8f3c.e3fae","type":"ui_text_input","z":"5f03edf4.e2b114","name":"","label":"SHA2-256 text:","tooltip":"","group":"9dcf0e61.e0edf","order":2,"width":"9","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":1343.2857971191406,"y":315.09523582458496,"wires":[[]]},{"id":"c9cac4c.c76a638","type":"ui_text_input","z":"5f03edf4.e2b114","name":"","label":"SHA2-512 text:","tooltip":"","group":"9dcf0e61.e0edf","order":4,"width":"9","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":1342.2857971191406,"y":400.09523582458496,"wires":[[]]},{"id":"1394f893.45b2e7","type":"ui_text_input","z":"5f03edf4.e2b114","name":"","label":"Cipher text to decrypt (AES 256):","tooltip":"","group":"1a970f19.e67741","order":1,"width":"8","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":504,"y":215.66665935516357,"wires":[["d43f0c30.924e3","7ddf2c4b.fc98d4"]]},{"id":"ba0a5435.ca9698","type":"ui_text_input","z":"5f03edf4.e2b114","name":"","label":"Clear text:","tooltip":"","group":"95ed56b.8c92da8","order":1,"width":"8","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":1342.4284973144531,"y":196.09522676467896,"wires":[[]]},{"id":"6fa9736b.5d888c","type":"ui_text_input","z":"5f03edf4.e2b114","name":"","label":"Clear text to HMAC","tooltip":"","group":"ebc9dc00.2f36b","order":2,"width":"8","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":453,"y":578.6666593551636,"wires":[["65d43924.020cb8","135a33c2.35022c"]]},{"id":"52ae483a.7b7b58","type":"ui_text_input","z":"5f03edf4.e2b114","name":"","label":"HMAC SHA2-256:","tooltip":"","group":"9769ca58.e48d88","order":0,"width":"8","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":1007,"y":580.6666593551636,"wires":[[]]},{"id":"3001ab96.318324","type":"ui_text_input","z":"5f03edf4.e2b114","name":"","label":"HMAC SHA2-512:","tooltip":"","group":"9769ca58.e48d88","order":0,"width":"8","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":1004,"y":638.6666593551636,"wires":[[]]},{"id":"65d43924.020cb8","type":"hmac","z":"5f03edf4.e2b114","name":"","algorithm":"HmacSHA256","key":"MyDataKey","x":764,"y":578.6666593551636,"wires":[["52ae483a.7b7b58"]]},{"id":"135a33c2.35022c","type":"hmac","z":"5f03edf4.e2b114","name":"","algorithm":"HmacSHA512","key":"MyDataKey","x":760,"y":642.6666593551636,"wires":[["3001ab96.318324"]]},{"id":"329c8b3c.d8b224","type":"ui_text_input","z":"5f03edf4.e2b114","name":"","label":"SHA2-384 text:","tooltip":"","group":"9dcf0e61.e0edf","order":3,"width":"9","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":1342.2857971191406,"y":357.09523582458496,"wires":[[]]},{"id":"9a2eb9a.5212148","type":"ui_text_input","z":"5f03edf4.e2b114","name":"","label":"SHA2-224 text:","tooltip":"","group":"9dcf0e61.e0edf","order":1,"width":"9","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":1343.7143325805664,"y":276.6666669845581,"wires":[[]]},{"id":"69bd451.2f7cfbc","type":"digest","z":"5f03edf4.e2b114","name":"","algorithm":"SHA3","x":770,"y":474.6666593551636,"wires":[["4967a5db.6dd0ac"]]},{"id":"4967a5db.6dd0ac","type":"ui_text_input","z":"5f03edf4.e2b114","name":"","label":"SHA3-512 text:","tooltip":"","group":"9dcf0e61.e0edf","order":5,"width":"9","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":1340.8571090698242,"y":470.23808574676514,"wires":[[]]},{"id":"a4286d53.64247","type":"ui_text","z":"f3851a36.0c0468","group":"1f320e61.acb9e2","order":0,"width":0,"height":0,"name":"","label":"Icastats version:","format":"{{msg.payload}}","layout":"row-left","x":777,"y":173,"wires":[]},{"id":"5354e788.2653c8","type":"ui_text","z":"f3851a36.0c0468","group":"1f320e61.acb9e2","order":0,"width":0,"height":0,"name":"","label":"Icainfo version:","format":"{{msg.payload}}","layout":"row-left","x":777,"y":227,"wires":[]},{"id":"9060464c.838578","type":"ui_text","z":"f3851a36.0c0468","group":"1f320e61.acb9e2","order":0,"width":"0","height":"0","name":"","label":"Linux version:","format":"{{msg.payload}}","layout":"row-spread","x":775,"y":296,"wires":[]},{"id":"6fffb5e3.26bc1c","type":"exec","z":"f3851a36.0c0468","command":"icastats -v","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":524,"y":169.5,"wires":[["a4286d53.64247"],[],[]]},{"id":"4834fde4.b7cac4","type":"exec","z":"f3851a36.0c0468","command":"icainfo -v","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":520,"y":237.5,"wires":[["5354e788.2653c8"],[],[]]},{"id":"2f5794b3.628d7c","type":"exec","z":"f3851a36.0c0468","command":"cat /etc/*release*","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":551,"y":311.5,"wires":[["9060464c.838578"],[],[]]},{"id":"848c7e55.80ce6","type":"ui_text","z":"f3851a36.0c0468","group":"1f320e61.acb9e2","order":0,"width":0,"height":0,"name":"","label":"OpenSSL version:","format":"{{msg.payload}}","layout":"row-left","x":785,"y":369,"wires":[]},{"id":"b9380337.dcfb1","type":"exec","z":"f3851a36.0c0468","command":"openssl version","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":544,"y":368,"wires":[["848c7e55.80ce6"],[],[]]},{"id":"2194bb50.3b9df4","type":"ui_ui_control","z":"f3851a36.0c0468","name":"","x":245,"y":369,"wires":[["b9380337.dcfb1","2f5794b3.628d7c","6fffb5e3.26bc1c","4834fde4.b7cac4","1cebcf34.0de741"]]},{"id":"4449ba6f.b038d4","type":"ui_chart","z":"7ecaa56b.9a7f6c","name":"","group":"12404516.87fc6b","order":4,"width":"8","height":"8","label":"Pseudo Random Number Generation (PRNG)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":774,"y":305,"wires":[[],[]]},{"id":"71aca218.7d754c","type":"ui_ui_control","z":"7ecaa56b.9a7f6c","name":"","x":82,"y":728.0000047683716,"wires":[["6268c7c9.859fb8","a2581b36.33e308","ea5cc5f7.48f1e8","80bbbd8b.ad919","1b7dccee.1c6203","9cda9a96.f8d538","b019059a.2b8f18","7ac8e7db.11cfb8","c92ab671.ce58d8","b5d65433.937118","1514d625.aadb9a","6a8a0bf.b8720f4","977f13.29b040f","411ffc79.67c504","fa172de3.26091","a320886.768b178"]]},{"id":"6268c7c9.859fb8","type":"exec","z":"7ecaa56b.9a7f6c","command":"icastats | grep P_RNG | awk '{print $3}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":407,"y":319.5,"wires":[["4449ba6f.b038d4"],[],[]]},{"id":"a5b187ab.d19cf8","type":"ui_button","z":"34972978.9ffb06","name":"","group":"dc55f2a1.68de1","order":2,"width":0,"height":0,"passthru":false,"label":"Let's benchmark!","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":117,"y":205,"wires":[["9a82af46.c61b7","4b43f156.000ef","dafee986.fcc4d8","21bdccd1.e95334","51fa18a3.ec8448","e3d748bf.fe74f8","80ab56e0.a63d18","659c26ca.003b68","a982968d.6dbdb8"]]},{"id":"9a82af46.c61b7","type":"exec","z":"34972978.9ffb06","command":"openssl speed -evp sha1 | grep sha1 | awk '{print $6}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":487,"y":196.5,"wires":[["8e15a123.003d6"],[],[]]},{"id":"4b43f156.000ef","type":"exec","z":"34972978.9ffb06","command":"openssl speed -evp aes-128-gcm | grep aes-128-gcm | awk '{print $6}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":540,"y":622,"wires":[["9911a549.1cfb38"],[],[]]},{"id":"dafee986.fcc4d8","type":"exec","z":"34972978.9ffb06","command":"openssl speed -evp aes-128-gcm | grep aes-128-gcm | awk '{print $6}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":540,"y":673,"wires":[["803e52a2.1665e"],[],[]]},{"id":"8e15a123.003d6","type":"ui_text","z":"34972978.9ffb06","group":"a2492a34.af8328","order":1,"width":0,"height":0,"name":"","label":"SHA1:","format":"{{msg.payload}}","layout":"row-left","x":823,"y":183,"wires":[]},{"id":"eab5bcbf.66c27","type":"ui_text","z":"34972978.9ffb06","group":"a2492a34.af8328","order":2,"width":0,"height":0,"name":"","label":"SHA2-256:","format":"{{msg.payload}}","layout":"row-left","x":841,"y":239,"wires":[]},{"id":"9911a549.1cfb38","type":"ui_text","z":"34972978.9ffb06","group":"431b559a.f05d3c","order":5,"width":0,"height":0,"name":"","label":"AES-128-GCM","format":"{{msg.payload}}","layout":"row-left","x":906,"y":597,"wires":[]},{"id":"803e52a2.1665e","type":"ui_text","z":"34972978.9ffb06","group":"431b559a.f05d3c","order":6,"width":0,"height":0,"name":"","label":"AES-256-GCM:","format":"{{msg.payload}}","layout":"row-left","x":905,"y":664,"wires":[]},{"id":"e3d748bf.fe74f8","type":"exec","z":"34972978.9ffb06","command":"openssl speed -evp aes-128-cbc | grep aes-128-cbc | awk '{print $6}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":539,"y":518,"wires":[["dc03a77f.230dc8"],[],[]]},{"id":"80ab56e0.a63d18","type":"exec","z":"34972978.9ffb06","command":"openssl speed -evp aes-256-cbc | grep aes-256-cbc | awk '{print $6}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":539,"y":569,"wires":[["21bc68fb.07b198"],[],[]]},{"id":"dc03a77f.230dc8","type":"ui_text","z":"34972978.9ffb06","group":"431b559a.f05d3c","order":1,"width":0,"height":0,"name":"","label":"AES-128-CBC","format":"{{msg.payload}}","layout":"row-left","x":904,"y":502,"wires":[]},{"id":"21bc68fb.07b198","type":"ui_text","z":"34972978.9ffb06","group":"431b559a.f05d3c","order":2,"width":0,"height":0,"name":"","label":"AES-256-CBC:","format":"{{msg.payload}}","layout":"row-left","x":905,"y":553,"wires":[]},{"id":"21bdccd1.e95334","type":"exec","z":"34972978.9ffb06","command":"openssl speed -evp aes-128-xts | grep aes-128-xts | awk '{print $6}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":538,"y":409,"wires":[["b757098e.6a7488"],[],[]]},{"id":"51fa18a3.ec8448","type":"exec","z":"34972978.9ffb06","command":"openssl speed -evp aes-256-xts | grep aes-256-xts | awk '{print $6}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":538,"y":460,"wires":[["e7d18c03.120b1"],[],[]]},{"id":"b757098e.6a7488","type":"ui_text","z":"34972978.9ffb06","group":"431b559a.f05d3c","order":3,"width":0,"height":0,"name":"","label":"AES-128-XTS","format":"{{msg.payload}}","layout":"row-left","x":907,"y":395,"wires":[]},{"id":"e7d18c03.120b1","type":"ui_text","z":"34972978.9ffb06","group":"431b559a.f05d3c","order":4,"width":0,"height":0,"name":"","label":"AES-256-XTS:","format":"{{msg.payload}}","layout":"row-left","x":907,"y":446,"wires":[]},{"id":"659c26ca.003b68","type":"exec","z":"34972978.9ffb06","command":"openssl speed -evp sha256 | grep sha256 | awk '{print $6}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":507,"y":250,"wires":[["eab5bcbf.66c27"],[],[]]},{"id":"771a4d40.a39bc4","type":"ui_text","z":"34972978.9ffb06","group":"a2492a34.af8328","order":4,"width":0,"height":0,"name":"","label":"SHA2-512:","format":"{{msg.payload}}","layout":"row-left","x":845,"y":289,"wires":[]},{"id":"a982968d.6dbdb8","type":"exec","z":"34972978.9ffb06","command":"openssl speed -evp sha512 | grep sha512 | awk '{print $6}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":511,"y":301,"wires":[["771a4d40.a39bc4"],[],[]]},{"id":"78741e68.12229","type":"ui_text","z":"fed987c1.75a368","group":"d2d4edf4.9dbf9","order":3,"width":0,"height":0,"name":"","label":"TEXT - To encrypt a TEXT message:","format":"curl -X POST -d 'text data to be encrypted' -H \"Content-type: text/plain\" http://localhost:1880/text-encrypt-aes","layout":"row-left","x":1333.237907409668,"y":373.4762207865715,"wires":[]},{"id":"2f735ce4.d238c4","type":"ui_text","z":"fed987c1.75a368","group":"d2d4edf4.9dbf9","order":3,"width":0,"height":0,"name":"","label":"TEXT - To decrypt a TEXT message:","format":"curl -X POST -d 'encrypted data' -H \"Content-type: text/plain\" http://localhost:1880/text-decrypt-aes","layout":"row-left","x":1333.237907409668,"y":408.4762207865715,"wires":[]},{"id":"7daf9a5f.3f8244","type":"ui_text","z":"fed987c1.75a368","group":"808985ec.6e7908","order":2,"width":0,"height":0,"name":"","label":"To suscribe to the queue \"data to be encrypted\":","format":"mosquitto_sub -v -t 'topic/clear-text-data'","layout":"row-left","x":1375.0950393676758,"y":220.04763460159302,"wires":[]},{"id":"b0d5a60e.3175c8","type":"ui_text","z":"fed987c1.75a368","group":"808985ec.6e7908","order":3,"width":0,"height":0,"name":"","label":"To suscribe to the queue \"data to be decrypted\":","format":"mosquitto_sub -v -t 'topic/encrypted-text-data'","layout":"row-left","x":1375.0950393676758,"y":255.19048237800598,"wires":[]},{"id":"2383e3de.cfee4c","type":"ui_text","z":"fed987c1.75a368","group":"808985ec.6e7908","order":4,"width":0,"height":0,"name":"","label":"To send a message to the \"data to be encrypted\" queue:","format":"mosquitto_pub -t 'topic/clear-text-data' -m 'hello World'","layout":"row-left","x":1393.0950393676758,"y":295.190482378006,"wires":[]},{"id":"bb783050.a1001","type":"ui_text","z":"fed987c1.75a368","group":"808985ec.6e7908","order":5,"width":0,"height":0,"name":"","label":"To send a message to the \"data to be decrypted\" queue:","format":"mosquitto_pub -t 'topic/encrypted-text-data' -m 'U2FsdGVkX1+2y8MCUF3GP94WyEQ44qL2z6cb8SCnSAw='","layout":"row-left","x":1393.0950393676758,"y":335.190482378006,"wires":[]},{"id":"bcef4cc2.2ebff","type":"mqtt in","z":"c5546ec.ac7f39","name":"","topic":"topic/clear-text-data","qos":"2","broker":"8cbec3c8.0e633","x":219,"y":125,"wires":[["51ea612e.387e7"]]},{"id":"7bc07a0d.b4bb54","type":"mqtt in","z":"c5546ec.ac7f39","name":"","topic":"topic/encrypted-text-data","qos":"2","broker":"22e984d7.b98a5c","x":237,"y":177,"wires":[["d349c3f2.f451e"]]},{"id":"51ea612e.387e7","type":"encrypt","z":"c5546ec.ac7f39","name":"","algorithm":"AES","key":"MyDataKey","x":478,"y":125,"wires":[["6a199893.e2f328"]]},{"id":"d349c3f2.f451e","type":"decrypt","z":"c5546ec.ac7f39","name":"","algorithm":"AES","key":"MyDataKey","x":481,"y":176,"wires":[["5f31058c.5d081c"]]},{"id":"6a199893.e2f328","type":"mqtt out","z":"c5546ec.ac7f39","name":"","topic":"topic/encrypted-text-data","qos":"","retain":"","broker":"169e4d69.91a8b3","x":717,"y":124,"wires":[]},{"id":"5f31058c.5d081c","type":"mqtt out","z":"c5546ec.ac7f39","name":"","topic":"topic/clear-text-data","qos":"","retain":"","broker":"5b95fd0.e1d2f04","x":710,"y":176,"wires":[]},{"id":"e158e6bb.9e3298","type":"ui_chart","z":"7ecaa56b.9a7f6c","name":"","group":"12404516.87fc6b","order":1,"width":"8","height":"8","label":"Secure Hash Algorithm Family 1 (SHA-1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":764.428596496582,"y":363.1428413391113,"wires":[[],[]]},{"id":"a2581b36.33e308","type":"exec","z":"7ecaa56b.9a7f6c","command":"icastats | grep SHA-1 | awk '{print $3}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":407.42857360839844,"y":374.78571701049805,"wires":[["e158e6bb.9e3298"],[],[]]},{"id":"e278ea88.426748","type":"ui_chart","z":"7ecaa56b.9a7f6c","name":"","group":"12404516.87fc6b","order":3,"width":"8","height":"8","label":"Secure Hash Algorithm Family 2 (SHA2-512)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":773.1428680419922,"y":468.09526538848877,"wires":[[],[]]},{"id":"80bbbd8b.ad919","type":"exec","z":"7ecaa56b.9a7f6c","command":"icastats | grep SHA-512 | awk '{print $3}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":416.14288330078125,"y":482.5952568054199,"wires":[["e278ea88.426748"],[],[]]},{"id":"ea5cc5f7.48f1e8","type":"exec","z":"7ecaa56b.9a7f6c","command":"icastats | grep SHA-256 | awk '{print $3}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":417.14288330078125,"y":427.7857418060303,"wires":[["fc9f0f0f.7da25"],[],[]]},{"id":"fc9f0f0f.7da25","type":"ui_chart","z":"7ecaa56b.9a7f6c","name":"","group":"12404516.87fc6b","order":2,"width":"8","height":"8","label":"Secure Hash Algorithm Family 2 (SHA2-256)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":774.1428718566895,"y":414.7143044471741,"wires":[[],[]]},{"id":"fd9d601c.4e78a","type":"ui_chart","z":"7ecaa56b.9a7f6c","name":"","group":"750a30c2.7e35e","order":3,"width":"8","height":"8","label":"AES CBC (Encryption)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":750.4761924743652,"y":622.1427803039551,"wires":[[],[]]},{"id":"1b7dccee.1c6203","type":"exec","z":"7ecaa56b.9a7f6c","command":"icastats | grep 'AES CBC' | awk '{print $4}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":422.0476493835449,"y":635.2142629623413,"wires":[["fd9d601c.4e78a"],[],[]]},{"id":"67892303.6c6fdc","type":"ui_chart","z":"7ecaa56b.9a7f6c","name":"","group":"750a30c2.7e35e","order":9,"width":"8","height":"8","label":"AES XTS (Encryption)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":748.4762306213379,"y":842.3332605361938,"wires":[[],[]]},{"id":"b019059a.2b8f18","type":"exec","z":"7ecaa56b.9a7f6c","command":"icastats | grep XTS | awk '{print $4}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":393.8571586608887,"y":852.3095397949219,"wires":[["67892303.6c6fdc"],[],[]]},{"id":"9cda9a96.f8d538","type":"exec","z":"7ecaa56b.9a7f6c","command":"icastats | grep GCM | awk '{print $4}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":406.5238609313965,"y":797.9762086868286,"wires":[["e8f04b88.7e9538"],[],[]]},{"id":"e8f04b88.7e9538","type":"ui_chart","z":"7ecaa56b.9a7f6c","name":"","group":"750a30c2.7e35e","order":11,"width":"8","height":"8","label":"AES GCM (Decryption)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":749.2381706237793,"y":784.9048037528992,"wires":[[],[]]},{"id":"c3e111cd.2a1d","type":"ui_chart","z":"7ecaa56b.9a7f6c","name":"","group":"750a30c2.7e35e","order":1,"width":"8","height":"8","label":"AES ECB (Encryption)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":753.3333435058594,"y":568.0951709747314,"wires":[[],[]]},{"id":"7ac8e7db.11cfb8","type":"exec","z":"7ecaa56b.9a7f6c","command":"icastats | grep 'AES ECB' | awk '{print $4}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":415.1429100036621,"y":581.4047222137451,"wires":[["c3e111cd.2a1d"],[],[]]},{"id":"9a9e6cb0.eac92","type":"ui_text","z":"f3851a36.0c0468","group":"1f320e61.acb9e2","order":0,"width":0,"height":0,"name":"","label":"OpenSSL engine:","format":"{{msg.payload}}","layout":"row-left","x":784.2857055664062,"y":425.71429443359375,"wires":[]},{"id":"1cebcf34.0de741","type":"exec","z":"f3851a36.0c0468","command":"openssl engine","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":543.2857055664062,"y":424.71429443359375,"wires":[["9a9e6cb0.eac92"],[],[]]},{"id":"4d30d15.8de453","type":"exec","z":"5f03edf4.e2b114","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1082.142879486084,"y":283.0952048301697,"wires":[["9a2eb9a.5212148"],[],[]]},{"id":"e2a1946c.05d108","type":"function","z":"5f03edf4.e2b114","name":"SHA2-224 (OpenSSL IBMCA)","func":"msg.payload = \"echo -n \"+ msg.payload +\" | openssl dgst -binary -sha224 | openssl base64\"\nreturn msg;","outputs":1,"noerr":0,"x":846.4285888671875,"y":283.8095426559448,"wires":[["4d30d15.8de453"]]},{"id":"a8224103.bfa7c","type":"function","z":"5f03edf4.e2b114","name":"SHA2-256 (OpenSSL IBMCA)","func":"msg.payload = \"echo -n \"+ msg.payload +\" | openssl dgst -binary -sha256 | openssl base64\"\nreturn msg;","outputs":1,"noerr":0,"x":847.8571891784668,"y":330.9523596763611,"wires":[["a072c91c.7b75f8"]]},{"id":"a072c91c.7b75f8","type":"exec","z":"5f03edf4.e2b114","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1083.5714797973633,"y":330.23802185058594,"wires":[["bc4e8f3c.e3fae"],[],[]]},{"id":"c0ce8391.7b509","type":"function","z":"5f03edf4.e2b114","name":"SHA2-384 (OpenSSL IBMCA)","func":"msg.payload = \"echo -n \"+ msg.payload +\" | openssl dgst -binary -sha384 | openssl base64\"\nreturn msg;","outputs":1,"noerr":0,"x":846.4286041259766,"y":379.5237760543823,"wires":[["ba15e9b5.9910b8"]]},{"id":"ba15e9b5.9910b8","type":"exec","z":"5f03edf4.e2b114","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1082.142894744873,"y":378.8094382286072,"wires":[["329c8b3c.d8b224"],[],[]]},{"id":"d620ef5a.214f8","type":"function","z":"5f03edf4.e2b114","name":"SHA2-512 (OpenSSL IBMCA)","func":"msg.payload = \"echo -n \"+ msg.payload +\" | openssl dgst -binary -sha512 | openssl base64\"\nreturn msg;","outputs":1,"noerr":0,"x":845.0000152587891,"y":428.0952482223511,"wires":[["3a97b6ae.0a751a"]]},{"id":"3a97b6ae.0a751a","type":"exec","z":"5f03edf4.e2b114","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1080.7143058776855,"y":427.3809103965759,"wires":[["c9cac4c.c76a638"],[],[]]},{"id":"86028089.40586","type":"exec","z":"fed987c1.75a368","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":971.6666603088379,"y":570.952314376831,"wires":[["7f611049.4514f"],[],[]]},{"id":"f1f503b5.ba7bb","type":"function","z":"fed987c1.75a368","name":"SHA2-224 (OpenSSL IBMCA)","func":"msg.payload = \"echo -n \"+ msg.payload +\" | openssl dgst -binary -sha224 | openssl base64\"\nreturn msg;","outputs":1,"noerr":0,"x":521.6665802001953,"y":567.6190204620361,"wires":[["86028089.40586"]]},{"id":"fcf9b316.1f1e2","type":"function","z":"fed987c1.75a368","name":"SHA2-256 (OpenSSL IBMCA)","func":"msg.payload = \"echo -n \"+ msg.payload +\" | openssl dgst -binary -sha256 | openssl base64\"\nreturn msg;","outputs":1,"noerr":0,"x":518.8094711303711,"y":608.3332691192627,"wires":[["86028089.40586"]]},{"id":"1d3ac2a8.1f0c9d","type":"function","z":"fed987c1.75a368","name":"SHA2-384 (OpenSSL IBMCA)","func":"msg.payload = \"echo -n \"+ msg.payload +\" | openssl dgst -binary -sha384 | openssl base64\"\nreturn msg;","outputs":1,"noerr":0,"x":517.3808670043945,"y":645.4761171340942,"wires":[["86028089.40586"]]},{"id":"8ebad5dd.bb8eb8","type":"function","z":"fed987c1.75a368","name":"SHA2-512 (OpenSSL IBMCA)","func":"msg.payload = \"echo -n \"+ msg.payload +\" | openssl dgst -binary -sha512 | openssl base64\"\nreturn msg;","outputs":1,"noerr":0,"x":520.4761657714844,"y":684.5237503051758,"wires":[["86028089.40586"]]},{"id":"c4aa1380.8d00f","type":"exec","z":"5f03edf4.e2b114","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1173.5713729858398,"y":160.95239162445068,"wires":[["5f659295.2d8a3c"],[],[]]},{"id":"df678ea6.5ea0a","type":"function","z":"5f03edf4.e2b114","name":"AES-256-CBC-ENCRYPTION (OpenSSL IBMCA)","func":"msg.payload = \"echo -n \"+ msg.payload +\" | openssl enc -e -aes-256-cbc -a -k \\\"MyDataKey\\\"\"\nreturn msg;","outputs":1,"noerr":0,"x":864.4285278320312,"y":160.66673278808594,"wires":[["c4aa1380.8d00f"]]},{"id":"d43f0c30.924e3","type":"function","z":"5f03edf4.e2b114","name":"AES-256-CBC-DECRYPTION (OpenSSL IBMCA)","func":"msg.payload = \"echo \"+ msg.payload +\" |openssl base64 -d|openssl enc -d -aes-256-cbc -k \\\"MyDataKey\\\"\"\nreturn msg;","outputs":1,"noerr":0,"x":886.4284973144531,"y":215.23806762695312,"wires":[["1b343336.15986d"]]},{"id":"1b343336.15986d","type":"exec","z":"5f03edf4.e2b114","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1175,"y":213.80951976776123,"wires":[["ba0a5435.ca9698","7ddf2c4b.fc98d4"],[],[]]},{"id":"a690832e.56ca","type":"comment","z":"5f03edf4.e2b114","name":"Encrypt with specified password. Encrypted message is base64-encoded afterwards.","info":"","x":631.6666717529297,"y":41.42863655090332,"wires":[]},{"id":"b57b8ad8.e4a228","type":"comment","z":"5f03edf4.e2b114","name":"Base-64 decode and decrypt message with specified password.","info":"","x":1186.6666564941406,"y":40.71437454223633,"wires":[]},{"id":"c49740c9.dcffe","type":"function","z":"fed987c1.75a368","name":"AES-256-CBC-ENCRYPTION (OpenSSL IBMCA)","func":"msg.payload = \"echo -n \"+ msg.payload +\" | openssl enc -e -aes-256-cbc -a -k \\\"MyDataKey\\\"\"\nreturn msg;","outputs":1,"noerr":0,"x":577.142951965332,"y":220.9524040222168,"wires":[["86028089.40586"]]},{"id":"41bc13cc.a66f5c","type":"function","z":"fed987c1.75a368","name":"AES-256-CBC-DECRYPTION (OpenSSL IBMCA)","func":"msg.payload = \"echo \"+ msg.payload +\" |openssl base64 -d|openssl enc -d -aes-256-cbc -k \\\"MyDataKey\\\"\"\nreturn msg;","outputs":1,"noerr":0,"x":581.4286575317383,"y":265.9523115158081,"wires":[["86028089.40586"]]},{"id":"bb21b0a7.5a912","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-encrypt-aes-ctr","method":"post","upload":false,"swaggerDoc":"","x":160.952392578125,"y":469.99996757507324,"wires":[["16dd79dd.5b3e46"]]},{"id":"3d54cafc.0d6ea6","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-decrypt-aes-ctr","method":"post","upload":false,"swaggerDoc":"","x":163.28573608398438,"y":510.66663551330566,"wires":[["c5b0c287.c6471"]]},{"id":"c5b0c287.c6471","type":"function","z":"fed987c1.75a368","name":"AES-256-CTR-DECRYPTION (OpenSSL IBMCA)","func":"msg.payload = \"echo \"+ msg.payload +\" |openssl base64 -d|openssl enc -d -aes-256-ctr -k \\\"MyDataKey\\\"\"\nreturn msg;","outputs":1,"noerr":0,"x":570.3809967041016,"y":510.9522749185562,"wires":[["86028089.40586"]]},{"id":"16dd79dd.5b3e46","type":"function","z":"fed987c1.75a368","name":"AES-256-CTR-ENCRYPTION (OpenSSL IBMCA)","func":"msg.payload = \"echo -n \"+ msg.payload +\" | openssl enc -e -aes-256-ctr -a -k \\\"MyDataKey\\\"\"\nreturn msg;","outputs":1,"noerr":0,"x":568.9524230957031,"y":470.2380782365799,"wires":[["86028089.40586"]]},{"id":"58c5c26.0f1623c","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-encrypt-aes-cfb","method":"post","upload":false,"swaggerDoc":"","x":171.19053649902344,"y":389.0476016998291,"wires":[["543b1c49.6297b4"]]},{"id":"25c5d3ee.b7e0fc","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-decrypt-aes-cfb","method":"post","upload":false,"swaggerDoc":"","x":170.19054412841797,"y":429.71426010131836,"wires":[["55a59eec.825c7"]]},{"id":"55a59eec.825c7","type":"function","z":"fed987c1.75a368","name":"AES-256-CFB-DECRYPTION (OpenSSL IBMCA)","func":"msg.payload = \"echo \"+ msg.payload +\" |openssl base64 -d|openssl enc -d -aes-256-cfb -k \\\"MyDataKey\\\"\"\nreturn msg;","outputs":1,"noerr":0,"x":570.6191482543945,"y":429.9999113082886,"wires":[["86028089.40586"]]},{"id":"543b1c49.6297b4","type":"function","z":"fed987c1.75a368","name":"AES-256-CFB-ENCRYPTION (OpenSSL IBMCA)","func":"msg.payload = \"echo -n \"+ msg.payload +\" | openssl enc -e -aes-256-cfb -a -k \\\"MyDataKey\\\"\"\nreturn msg;","outputs":1,"noerr":0,"x":569.1905746459961,"y":389.28571462631226,"wires":[["86028089.40586"]]},{"id":"d0e1571f.d764f8","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-decrypt-aes-ecb","method":"post","upload":false,"swaggerDoc":"","x":168.33335876464844,"y":183.33332633972168,"wires":[["73d0ffd0.f0bc"]]},{"id":"1d84d818.4e1fc8","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-encrypt-aes-ecb","method":"post","upload":false,"swaggerDoc":"","x":169.33335876464844,"y":139.33332633972168,"wires":[["86662c96.81242"]]},{"id":"86662c96.81242","type":"function","z":"fed987c1.75a368","name":"AES-256-ECB-ENCRYPTION (OpenSSL IBMCA)","func":"msg.payload = \"echo -n \"+ msg.payload +\" | openssl enc -e -aes-256-ecb -a -k \\\"MyDataKey\\\"\"\nreturn msg;","outputs":1,"noerr":0,"x":566.142936706543,"y":136.95239162445068,"wires":[["86028089.40586"]]},{"id":"73d0ffd0.f0bc","type":"function","z":"fed987c1.75a368","name":"AES-256-ECB-DECRYPTION (OpenSSL IBMCA)","func":"msg.payload = \"echo \"+ msg.payload +\" |openssl base64 -d|openssl enc -d -aes-256-ecb -k \\\"MyDataKey\\\"\"\nreturn msg;","outputs":1,"noerr":0,"x":570.4286422729492,"y":181.952299118042,"wires":[["86028089.40586"]]},{"id":"8d3196ff.500e38","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-encrypt-aes-ofb","method":"post","upload":false,"swaggerDoc":"","x":170.00001525878906,"y":305.00001335144043,"wires":[["8f796d52.82d94"]]},{"id":"85e0f648.859598","type":"http in","z":"fed987c1.75a368","name":"","url":"/text-decrypt-aes-ofb","method":"post","upload":false,"swaggerDoc":"","x":169.00001525878906,"y":349.00001335144043,"wires":[["a390a156.dffab"]]},{"id":"a390a156.dffab","type":"function","z":"fed987c1.75a368","name":"AES-256-OFB-DECRYPTION (OpenSSL IBMCA)","func":"msg.payload = \"echo \"+ msg.payload +\" |openssl base64 -d|openssl enc -d -aes-256-ofb -k \\\"MyDataKey\\\"\"\nreturn msg;","outputs":1,"noerr":0,"x":571.0952987670898,"y":347.61898612976074,"wires":[["86028089.40586"]]},{"id":"8f796d52.82d94","type":"function","z":"fed987c1.75a368","name":"AES-256-OFB-ENCRYPTION (OpenSSL IBMCA)","func":"msg.payload = \"echo -n \"+ msg.payload +\" | openssl enc -e -aes-256-ofb -a -k \\\"MyDataKey\\\"\"\nreturn msg;","outputs":1,"noerr":0,"x":569.6667251586914,"y":306.9047894477844,"wires":[["86028089.40586"]]},{"id":"db14bf39.7e267","type":"comment","z":"fed987c1.75a368","name":"Encrypt with specified password. Encrypted message is base64-encoded afterwards.","info":"","x":484.9999694824219,"y":24.999998092651367,"wires":[]},{"id":"866da1c.12bcb6","type":"comment","z":"fed987c1.75a368","name":"Base-64 decode and decrypt message with specified password.","info":"","x":1039.9999542236328,"y":24.285736083984375,"wires":[]},{"id":"93b2e5a3.d7dab8","type":"ui_chart","z":"7ecaa56b.9a7f6c","name":"","group":"750a30c2.7e35e","order":5,"width":"8","height":"8","label":"AES CFB (Encryption)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":756.9999656677246,"y":677.8570423126221,"wires":[[],[]]},{"id":"fa172de3.26091","type":"exec","z":"7ecaa56b.9a7f6c","command":"icastats | grep 'AES CFB' | awk '{print $4}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":418.5714225769043,"y":690.9285249710083,"wires":[["93b2e5a3.d7dab8"],[],[]]},{"id":"2cd44bc9.ca7524","type":"ui_chart","z":"7ecaa56b.9a7f6c","name":"","group":"750a30c2.7e35e","order":7,"width":"8","height":"8","label":"AES CTR (Decryption)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":751.9047050476074,"y":732.8570423126221,"wires":[[],[]]},{"id":"a320886.768b178","type":"exec","z":"7ecaa56b.9a7f6c","command":"icastats | grep 'AES CTR' | awk '{print $4}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":413.4761619567871,"y":745.9285249710083,"wires":[["2cd44bc9.ca7524"],[],[]]},{"id":"a2f597f3.5c8cf8","type":"comment","z":"7ecaa56b.9a7f6c","name":"ENCRYPTION","info":"","x":324.5238456726074,"y":540.2380876541138,"wires":[]},{"id":"e764c2f3.f7a64","type":"comment","z":"7ecaa56b.9a7f6c","name":"DECRYPTION","info":"","x":321.4285659790039,"y":930.7141571044922,"wires":[]},{"id":"52691096.da769","type":"ui_chart","z":"7ecaa56b.9a7f6c","name":"","group":"750a30c2.7e35e","order":4,"width":"8","height":"8","label":"AES CBC (Decryption)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":748.3333129882812,"y":1016.6666259765625,"wires":[[],[]]},{"id":"b5d65433.937118","type":"exec","z":"7ecaa56b.9a7f6c","command":"icastats | grep 'AES CBC' | awk '{print $5}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":419.90476989746094,"y":1029.7381086349487,"wires":[["52691096.da769"],[],[]]},{"id":"c89de45e.7d0828","type":"ui_chart","z":"7ecaa56b.9a7f6c","name":"","group":"750a30c2.7e35e","order":10,"width":"8","height":"8","label":"AES XTS (Decryption)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":746.3333511352539,"y":1236.8571062088013,"wires":[[],[]]},{"id":"411ffc79.67c504","type":"exec","z":"7ecaa56b.9a7f6c","command":"icastats | grep XTS | awk '{print $5}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":391.7142791748047,"y":1246.8333854675293,"wires":[["c89de45e.7d0828"],[],[]]},{"id":"977f13.29b040f","type":"exec","z":"7ecaa56b.9a7f6c","command":"icastats | grep GCM | awk '{print $5}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":404.3809814453125,"y":1192.500054359436,"wires":[["af17697.e8b8f98"],[],[]]},{"id":"af17697.e8b8f98","type":"ui_chart","z":"7ecaa56b.9a7f6c","name":"","group":"750a30c2.7e35e","order":12,"width":"8","height":"8","label":"AES GCM (Decryption)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":747.0952911376953,"y":1179.4286494255066,"wires":[[],[]]},{"id":"fb1079e2.f1da28","type":"ui_chart","z":"7ecaa56b.9a7f6c","name":"","group":"750a30c2.7e35e","order":2,"width":"8","height":"8","label":"AES ECB (Decryption)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":751.1904640197754,"y":962.6190166473389,"wires":[[],[]]},{"id":"c92ab671.ce58d8","type":"exec","z":"7ecaa56b.9a7f6c","command":"icastats | grep 'AES ECB' | awk '{print $5}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":413.0000305175781,"y":975.9285678863525,"wires":[["fb1079e2.f1da28"],[],[]]},{"id":"ce619bf8.e838e8","type":"ui_chart","z":"7ecaa56b.9a7f6c","name":"","group":"750a30c2.7e35e","order":6,"width":"8","height":"8","label":"AES CFB (Decryption)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":754.8570861816406,"y":1072.3808879852295,"wires":[[],[]]},{"id":"1514d625.aadb9a","type":"exec","z":"7ecaa56b.9a7f6c","command":"icastats | grep 'AES CFB' | awk '{print $5}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":416.4285430908203,"y":1085.4523706436157,"wires":[["ce619bf8.e838e8"],[],[]]},{"id":"4ce3d72f.e10ab8","type":"ui_chart","z":"7ecaa56b.9a7f6c","name":"","group":"750a30c2.7e35e","order":8,"width":"8","height":"8","label":"AES CTR (Decryption)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":749.7618255615234,"y":1127.3808879852295,"wires":[[],[]]},{"id":"6a8a0bf.b8720f4","type":"exec","z":"7ecaa56b.9a7f6c","command":"icastats | grep 'AES CTR' | awk '{print $5}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":411.3332824707031,"y":1140.4523706436157,"wires":[["4ce3d72f.e10ab8"],[],[]]},{"id":"da5a3934.e18bd8","type":"comment","z":"7ecaa56b.9a7f6c","name":"HASH/PRNG","info":"","x":324.28570556640625,"y":271.4285888671875,"wires":[]},{"id":"7ddf2c4b.fc98d4","type":"debug","z":"5f03edf4.e2b114","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":752.2999877929688,"y":96.40000915527344,"wires":[]}]
