all_flow_x86
[{"id":"edd55ed2.040d6","type":"tab","label":"CaaS","disabled":false,"info":""},{"id":"274c197.8ce8de6","type":"tab","label":"APIS","disabled":false,"info":""},{"id":"ef631431.117878","type":"tab","label":"Dashboards","disabled":false,"info":""},{"id":"57eba910.12f6f8","type":"tab","label":"Benchmark","disabled":false,"info":""},{"id":"bd801066.093ef","type":"tab","label":"About","disabled":false,"info":""},{"id":"2b014c52.b7c8b4","type":"tab","label":"File-encryption","disabled":false,"info":""},{"id":"e50797df.3f03a8","type":"mqtt-broker","z":"","name":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"78190d79.9c2e64","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"531beab3.8089a4","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"19f5c632.1cbefa","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d69fc539.0cf9c8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a572e8d4.8ba5c8","type":"ui_group","z":"ef631431.117878","name":"Encryption APIs","tab":"21184ede.c123b2","order":1,"disp":true,"width":"6","collapse":false},{"id":"8505b9ea.17bae8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3d6dbfdf.b0124","type":"ui_tab","z":"","name":"About the CaasP","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"2c2d737.b3c138c","type":"ui_tab","z":"","name":"Benchmark","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"3c852007.18295","type":"ui_tab","name":"Tab 3","icon":"dashboard","order":3},{"id":"38936ada.f88dc6","type":"ui_group","z":"","name":"About the CaasP Docker container:","tab":"3d6dbfdf.b0124","disp":true,"width":"20","collapse":false},{"id":"c0881ed9.015cb","type":"ui_group","z":"","name":"Performance tests:","tab":"2c2d737.b3c138c","disp":true,"width":"6","collapse":false},{"id":"51f0901d.467d1","type":"ui_group","z":"","name":"Secure Hash Family:","tab":"2c2d737.b3c138c","order":2,"disp":true,"width":"6","collapse":false},{"id":"698c5a4d.55b3f4","type":"ui_group","z":"","name":"Advanced Encryption Family:","tab":"2c2d737.b3c138c","order":3,"disp":true,"width":"6","collapse":false},{"id":"3fd10467.be253c","type":"http in","z":"274c197.8ce8de6","name":"","url":"/text-decrypt-aes-cbc","method":"post","upload":false,"swaggerDoc":"","x":169.3333740234375,"y":267.3333387374878,"wires":[["8d739b62.1551b8"]]},{"id":"d7392df5.12d42","type":"http response","z":"274c197.8ce8de6","name":"","statusCode":"","headers":{},"x":1244.8093299865723,"y":681.4285144805908,"wires":[]},{"id":"64bb3119.421e6","type":"http in","z":"274c197.8ce8de6","name":"","url":"/text-sha3","method":"post","upload":false,"swaggerDoc":"","x":137.7142219543457,"y":724.9524021148682,"wires":[["5cfb76cb.163138"]]},{"id":"83570462.272b98","type":"comment","z":"274c197.8ce8de6","name":"POST TEXT","info":"curl -X POST -d 'text data to be encrypted' -H \"Content-type: text/plain\" http://localhost:1880/text-encrypt-aes","x":105,"y":85,"wires":[]},{"id":"c60fe044.013df","type":"http in","z":"274c197.8ce8de6","name":"","url":"/text-sha224","method":"post","upload":false,"swaggerDoc":"","x":146.71421813964844,"y":566.9523754119873,"wires":[["b41baae4.0c84e8"]]},{"id":"33e4f2ee.4483ae","type":"http in","z":"274c197.8ce8de6","name":"","url":"/text-sha256","method":"post","upload":false,"swaggerDoc":"","x":145.71421813964844,"y":606.9523754119873,"wires":[["586a52f.871d9ac"]]},{"id":"51e7f148.c74a4","type":"http in","z":"274c197.8ce8de6","name":"","url":"/text-sha384","method":"post","upload":false,"swaggerDoc":"","x":146.71421813964844,"y":644.9523754119873,"wires":[["51e016a.018ece8"]]},{"id":"98728df5.4b0bf","type":"http in","z":"274c197.8ce8de6","name":"","url":"/text-sha512","method":"post","upload":false,"swaggerDoc":"","x":148.71421813964844,"y":683.9523754119873,"wires":[["643362c9.f35a1c"]]},{"id":"1e727bb0.b05574","type":"http in","z":"274c197.8ce8de6","name":"","url":"/text-encrypt-aes-cbc","method":"post","upload":false,"swaggerDoc":"","x":170.3333740234375,"y":223.3333387374878,"wires":[["2f5e8fe1.07f28"]]},{"id":"521bf1a8.e46df","type":"http in","z":"274c197.8ce8de6","name":"","url":"/text-hmac-sha3","method":"post","upload":false,"swaggerDoc":"","x":158.7142105102539,"y":787.6189889907837,"wires":[["f887e22e.a50d5"]]},{"id":"35963cf4.c98b64","type":"http in","z":"274c197.8ce8de6","name":"","url":"/text-hmac-sha224","method":"post","upload":false,"swaggerDoc":"","x":169.7142105102539,"y":824.6189889907837,"wires":[["5614f242.2a5d2c"]]},{"id":"fab3093a.833c48","type":"http in","z":"274c197.8ce8de6","name":"","url":"/text-hmac-sha256","method":"post","upload":false,"swaggerDoc":"","x":168.7142105102539,"y":861.6189889907837,"wires":[["b3a3e63a.ad9e28"]]},{"id":"619a4d5e.1ca424","type":"http in","z":"274c197.8ce8de6","name":"","url":"/text-hmac-sha384","method":"post","upload":false,"swaggerDoc":"","x":168.7142105102539,"y":898.6189889907837,"wires":[["5b66217e.4729c"]]},{"id":"8e53122b.65e47","type":"http in","z":"274c197.8ce8de6","name":"","url":"/text-hmac-sha512","method":"post","upload":false,"swaggerDoc":"","x":168.7142105102539,"y":935.6189889907837,"wires":[["62a4dd15.603764"]]},{"id":"f887e22e.a50d5","type":"hmac","z":"274c197.8ce8de6","name":"HMAC-SHA3","algorithm":"HmacSHA3","key":"MyDataKey","x":994.7141456604004,"y":784.9523019790649,"wires":[["d7392df5.12d42"]]},{"id":"5614f242.2a5d2c","type":"hmac","z":"274c197.8ce8de6","name":"HMAC-SHA224","algorithm":"HmacSHA224","key":"MyDataKey","x":1005.7141456604004,"y":822.9523019790649,"wires":[["d7392df5.12d42"]]},{"id":"b3a3e63a.ad9e28","type":"hmac","z":"274c197.8ce8de6","name":"HMAC-SHA256","algorithm":"HmacSHA256","key":"MyDataKey","x":1003.7141456604004,"y":859.9523019790649,"wires":[["d7392df5.12d42"]]},{"id":"5b66217e.4729c","type":"hmac","z":"274c197.8ce8de6","name":"HMAC-SHA384","algorithm":"HmacSHA384","key":"MyDataKey","x":1003.7141456604004,"y":896.9523019790649,"wires":[["d7392df5.12d42"]]},{"id":"62a4dd15.603764","type":"hmac","z":"274c197.8ce8de6","name":"HMAC-SHA512","algorithm":"HmacSHA512","key":"MyDataKey","x":1004.7141456604004,"y":933.9523019790649,"wires":[["d7392df5.12d42"]]},{"id":"5cfb76cb.163138","type":"digest","z":"274c197.8ce8de6","name":"SHA3","algorithm":"SHA3","x":970.0474815368652,"y":728.6189250946045,"wires":[["d7392df5.12d42"]]},{"id":"8e003972.f6d318","type":"hmac","z":"edd55ed2.040d6","name":"","algorithm":"HmacSHA256","key":"MyDataKey","x":764,"y":578.6666593551636,"wires":[["6a288fe4.aad0d"]]},{"id":"a7119ae9.4f0b68","type":"hmac","z":"edd55ed2.040d6","name":"","algorithm":"HmacSHA512","key":"MyDataKey","x":760,"y":642.6666593551636,"wires":[["5d6ac488.dc8b6c"]]},{"id":"5c5b0e47.9a749","type":"digest","z":"edd55ed2.040d6","name":"","algorithm":"SHA3","x":770,"y":474.6666593551636,"wires":[["e11ade47.a2fab"]]},{"id":"4d93c231.c1032c","type":"exec","z":"bd801066.093ef","command":"cat /etc/*release*","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":551,"y":311.5,"wires":[["d16bc569.900948"],[],[]]},{"id":"6d20f7db.05c438","type":"exec","z":"bd801066.093ef","command":"openssl version","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":544,"y":368,"wires":[["cd8a074d.a1c9e8"],[],[]]},{"id":"403959ad.076a58","type":"exec","z":"ef631431.117878","command":"icastats | grep P_RNG | awk '{print $3}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":407,"y":319.5,"wires":[["5e243e25.93d57"],[],[]]},{"id":"4f81209e.62ef1","type":"exec","z":"57eba910.12f6f8","command":"openssl speed -evp sha1 | grep sha1 | awk '{print $6}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":487,"y":196.5,"wires":[["d559e94d.21b778"],[],[]]},{"id":"a8e0009.d23ec","type":"exec","z":"57eba910.12f6f8","command":"openssl speed -evp aes-128-gcm | grep aes-128-gcm | awk '{print $6}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":540,"y":622,"wires":[["5c7ad646.a73248"],[],[]]},{"id":"79ac5879.cd0878","type":"exec","z":"57eba910.12f6f8","command":"openssl speed -evp aes-128-gcm | grep aes-128-gcm | awk '{print $6}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":540,"y":673,"wires":[["c8535a7c.4deeb8"],[],[]]},{"id":"6fba1df7.b7fdb4","type":"exec","z":"57eba910.12f6f8","command":"openssl speed -evp aes-128-cbc | grep aes-128-cbc | awk '{print $6}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":539,"y":518,"wires":[["9406fab.9190408"],[],[]]},{"id":"b3b77429.090918","type":"exec","z":"57eba910.12f6f8","command":"openssl speed -evp aes-256-cbc | grep aes-256-cbc | awk '{print $6}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":539,"y":569,"wires":[["4ed9bde9.0f1c64"],[],[]]},{"id":"409bb20e.c3eb6c","type":"exec","z":"57eba910.12f6f8","command":"openssl speed -evp aes-128-xts | grep aes-128-xts | awk '{print $6}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":538,"y":409,"wires":[["8ef7ba48.90e5d8"],[],[]]},{"id":"ea63b3c8.59128","type":"exec","z":"57eba910.12f6f8","command":"openssl speed -evp aes-256-xts | grep aes-256-xts | awk '{print $6}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":538,"y":460,"wires":[["e094a308.209d2"],[],[]]},{"id":"5b22de6b.28bd6","type":"exec","z":"57eba910.12f6f8","command":"openssl speed -evp sha256 | grep sha256 | awk '{print $6}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":507,"y":250,"wires":[["aa22d60e.044008"],[],[]]},{"id":"a2b654f2.6e87c8","type":"exec","z":"57eba910.12f6f8","command":"openssl speed -evp sha512 | grep sha512 | awk '{print $6}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":511,"y":301,"wires":[["809c7876.d41538"],[],[]]},{"id":"dada07ef.8e5f18","type":"exec","z":"ef631431.117878","command":"icastats | grep SHA-1 | awk '{print $3}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":407.42857360839844,"y":374.78571701049805,"wires":[["611f5384.66e1bc"],[],[]]},{"id":"441b3338.aba56c","type":"exec","z":"ef631431.117878","command":"icastats | grep SHA-512 | awk '{print $3}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":416.14288330078125,"y":482.5952568054199,"wires":[["536bb7e.e22ec48"],[],[]]},{"id":"e4676f4a.b1279","type":"exec","z":"ef631431.117878","command":"icastats | grep SHA-256 | awk '{print $3}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":417.14288330078125,"y":427.7857418060303,"wires":[["cfd798df.8751a8"],[],[]]},{"id":"3b8ab46a.5a632c","type":"exec","z":"ef631431.117878","command":"icastats | grep 'AES CBC' | awk '{print $4}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":422.0476493835449,"y":635.2142629623413,"wires":[["c097ddd6.8de77"],[],[]]},{"id":"2a5ea5d4.310a4a","type":"exec","z":"ef631431.117878","command":"icastats | grep XTS | awk '{print $4}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":393.8571586608887,"y":852.3095397949219,"wires":[["f879c406.d126a8"],[],[]]},{"id":"58074b14.e88064","type":"exec","z":"ef631431.117878","command":"icastats | grep GCM | awk '{print $4}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":406.5238609313965,"y":797.9762086868286,"wires":[["52757641.06cdf8"],[],[]]},{"id":"9b32117b.6acbc","type":"exec","z":"ef631431.117878","command":"icastats | grep 'AES ECB' | awk '{print $4}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":415.1429100036621,"y":581.4047222137451,"wires":[["1a99e6ad.8a86d9"],[],[]]},{"id":"f261cd7a.6370a","type":"exec","z":"bd801066.093ef","command":"openssl engine","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":543.2857055664062,"y":424.71429443359375,"wires":[["d47912ab.d0d2"],[],[]]},{"id":"fa5c41b8.8ebe7","type":"exec","z":"edd55ed2.040d6","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1082.142879486084,"y":283.0952048301697,"wires":[["9e83bbb0.c55b98"],[],[]]},{"id":"2f89c16.873143e","type":"function","z":"edd55ed2.040d6","name":"SHA2-224 (OpenSSL IBMCA)","func":"msg.payload = \"echo -n \"+ msg.payload +\" | openssl dgst -binary -sha224 | openssl base64\"\nreturn msg;","outputs":1,"noerr":0,"x":846.4285888671875,"y":283.8095426559448,"wires":[["fa5c41b8.8ebe7"]]},{"id":"ecf69428.b77508","type":"function","z":"edd55ed2.040d6","name":"SHA2-256 (OpenSSL IBMCA)","func":"msg.payload = \"echo -n \"+ msg.payload +\" | openssl dgst -binary -sha256 | openssl base64\"\nreturn msg;","outputs":1,"noerr":0,"x":847.8571891784668,"y":330.9523596763611,"wires":[["99b8ccef.d3af"]]},{"id":"99b8ccef.d3af","type":"exec","z":"edd55ed2.040d6","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1083.5714797973633,"y":330.23802185058594,"wires":[["eaedcf09.2164a"],[],[]]},{"id":"56b46c48.9d6794","type":"function","z":"edd55ed2.040d6","name":"SHA2-384 (OpenSSL IBMCA)","func":"msg.payload = \"echo -n \"+ msg.payload +\" | openssl dgst -binary -sha384 | openssl base64\"\nreturn msg;","outputs":1,"noerr":0,"x":846.4286041259766,"y":379.5237760543823,"wires":[["bb6798a.69c6e68"]]},{"id":"bb6798a.69c6e68","type":"exec","z":"edd55ed2.040d6","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1082.142894744873,"y":378.8094382286072,"wires":[["e1a3ed91.83116"],[],[]]},{"id":"94a69793.b4b318","type":"function","z":"edd55ed2.040d6","name":"SHA2-512 (OpenSSL IBMCA)","func":"msg.payload = \"echo -n \"+ msg.payload +\" | openssl dgst -binary -sha512 | openssl base64\"\nreturn msg;","outputs":1,"noerr":0,"x":845.0000152587891,"y":428.0952482223511,"wires":[["e3208cf8.7d3a"]]},{"id":"e3208cf8.7d3a","type":"exec","z":"edd55ed2.040d6","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1080.7143058776855,"y":427.3809103965759,"wires":[["6e294270.e2e5dc"],[],[]]},{"id":"26db14a3.938d4c","type":"exec","z":"274c197.8ce8de6","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":971.6666603088379,"y":570.952314376831,"wires":[["d7392df5.12d42"],[],[]]},{"id":"b41baae4.0c84e8","type":"function","z":"274c197.8ce8de6","name":"SHA2-224 (OpenSSL IBMCA)","func":"msg.payload = \"echo -n \"+ msg.payload +\" | openssl dgst -binary -sha224 | openssl base64\"\nreturn msg;","outputs":1,"noerr":0,"x":521.6665802001953,"y":567.6190204620361,"wires":[["26db14a3.938d4c"]]},{"id":"586a52f.871d9ac","type":"function","z":"274c197.8ce8de6","name":"SHA2-256 (OpenSSL IBMCA)","func":"msg.payload = \"echo -n \"+ msg.payload +\" | openssl dgst -binary -sha256 | openssl base64\"\nreturn msg;","outputs":1,"noerr":0,"x":518.8094711303711,"y":608.3332691192627,"wires":[["26db14a3.938d4c"]]},{"id":"51e016a.018ece8","type":"function","z":"274c197.8ce8de6","name":"SHA2-384 (OpenSSL IBMCA)","func":"msg.payload = \"echo -n \"+ msg.payload +\" | openssl dgst -binary -sha384 | openssl base64\"\nreturn msg;","outputs":1,"noerr":0,"x":517.3808670043945,"y":645.4761171340942,"wires":[["26db14a3.938d4c"]]},{"id":"643362c9.f35a1c","type":"function","z":"274c197.8ce8de6","name":"SHA2-512 (OpenSSL IBMCA)","func":"msg.payload = \"echo -n \"+ msg.payload +\" | openssl dgst -binary -sha512 | openssl base64\"\nreturn msg;","outputs":1,"noerr":0,"x":520.4761657714844,"y":684.5237503051758,"wires":[["26db14a3.938d4c"]]},{"id":"70eba424.1d026c","type":"exec","z":"edd55ed2.040d6","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1173.5713729858398,"y":160.95239162445068,"wires":[["d287f0f8.44146"],[],[]]},{"id":"aca36f71.4aa46","type":"function","z":"edd55ed2.040d6","name":"AES-256-CBC-ENCRYPTION (OpenSSL IBMCA)","func":"msg.payload = \"echo -n \"+ msg.payload +\" | openssl enc -e -aes-256-cbc -a -k \\\"MyDataKey\\\"\"\nreturn msg;","outputs":1,"noerr":0,"x":864.4285278320312,"y":160.66673278808594,"wires":[["70eba424.1d026c"]]},{"id":"76580b54.ab0404","type":"function","z":"edd55ed2.040d6","name":"AES-256-CBC-DECRYPTION (OpenSSL IBMCA)","func":"msg.payload = \"echo \"+ msg.payload +\" |openssl base64 -d|openssl enc -d -aes-256-cbc -k \\\"MyDataKey\\\"\"\nreturn msg;","outputs":1,"noerr":0,"x":886.4284973144531,"y":215.23806762695312,"wires":[["a46414fd.99d758"]]},{"id":"a46414fd.99d758","type":"exec","z":"edd55ed2.040d6","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1175,"y":213.80951976776123,"wires":[["f43dfdf7.fb256","f11801ff.3faaa"],[],[]]},{"id":"cdb9203f.3cf42","type":"comment","z":"edd55ed2.040d6","name":"Encrypt with specified password. Encrypted message is base64-encoded afterwards.","info":"","x":631.6666717529297,"y":41.42863655090332,"wires":[]},{"id":"12fc68f7.2fd567","type":"comment","z":"edd55ed2.040d6","name":"Base-64 decode and decrypt message with specified password.","info":"","x":1186.6666564941406,"y":40.71437454223633,"wires":[]},{"id":"2f5e8fe1.07f28","type":"function","z":"274c197.8ce8de6","name":"AES-256-CBC-ENCRYPTION (OpenSSL IBMCA)","func":"msg.payload = \"echo -n \"+ msg.payload +\" | openssl enc -e -aes-256-cbc -a -k \\\"MyDataKey\\\"\"\nreturn msg;","outputs":1,"noerr":0,"x":577.142951965332,"y":220.9524040222168,"wires":[["26db14a3.938d4c"]]},{"id":"8d739b62.1551b8","type":"function","z":"274c197.8ce8de6","name":"AES-256-CBC-DECRYPTION (OpenSSL IBMCA)","func":"msg.payload = \"echo \"+ msg.payload +\" |openssl base64 -d|openssl enc -d -aes-256-cbc -k \\\"MyDataKey\\\"\"\nreturn msg;","outputs":1,"noerr":0,"x":581.4286575317383,"y":265.9523115158081,"wires":[["26db14a3.938d4c"]]},{"id":"526051e1.47c85","type":"http in","z":"274c197.8ce8de6","name":"","url":"/text-encrypt-aes-ctr","method":"post","upload":false,"swaggerDoc":"","x":160.952392578125,"y":469.99996757507324,"wires":[["864616d5.f01be8"]]},{"id":"bdab1ec5.b3cc9","type":"http in","z":"274c197.8ce8de6","name":"","url":"/text-decrypt-aes-ctr","method":"post","upload":false,"swaggerDoc":"","x":163.28573608398438,"y":510.66663551330566,"wires":[["51564f7d.e998d"]]},{"id":"51564f7d.e998d","type":"function","z":"274c197.8ce8de6","name":"AES-256-CTR-DECRYPTION (OpenSSL IBMCA)","func":"msg.payload = \"echo \"+ msg.payload +\" |openssl base64 -d|openssl enc -d -aes-256-ctr -k \\\"MyDataKey\\\"\"\nreturn msg;","outputs":1,"noerr":0,"x":570.3809967041016,"y":510.9522749185562,"wires":[["26db14a3.938d4c"]]},{"id":"864616d5.f01be8","type":"function","z":"274c197.8ce8de6","name":"AES-256-CTR-ENCRYPTION (OpenSSL IBMCA)","func":"msg.payload = \"echo -n \"+ msg.payload +\" | openssl enc -e -aes-256-ctr -a -k \\\"MyDataKey\\\"\"\nreturn msg;","outputs":1,"noerr":0,"x":568.9524230957031,"y":470.2380782365799,"wires":[["26db14a3.938d4c"]]},{"id":"c8ca363f.eb3e38","type":"http in","z":"274c197.8ce8de6","name":"","url":"/text-encrypt-aes-cfb","method":"post","upload":false,"swaggerDoc":"","x":171.19053649902344,"y":389.0476016998291,"wires":[["d5f49db0.61f5d"]]},{"id":"a0ae13dc.a37a7","type":"http in","z":"274c197.8ce8de6","name":"","url":"/text-decrypt-aes-cfb","method":"post","upload":false,"swaggerDoc":"","x":170.19054412841797,"y":429.71426010131836,"wires":[["ad417d8a.9d976"]]},{"id":"ad417d8a.9d976","type":"function","z":"274c197.8ce8de6","name":"AES-256-CFB-DECRYPTION (OpenSSL IBMCA)","func":"msg.payload = \"echo \"+ msg.payload +\" |openssl base64 -d|openssl enc -d -aes-256-cfb -k \\\"MyDataKey\\\"\"\nreturn msg;","outputs":1,"noerr":0,"x":570.6191482543945,"y":429.9999113082886,"wires":[["26db14a3.938d4c"]]},{"id":"d5f49db0.61f5d","type":"function","z":"274c197.8ce8de6","name":"AES-256-CFB-ENCRYPTION (OpenSSL IBMCA)","func":"msg.payload = \"echo -n \"+ msg.payload +\" | openssl enc -e -aes-256-cfb -a -k \\\"MyDataKey\\\"\"\nreturn msg;","outputs":1,"noerr":0,"x":569.1905746459961,"y":389.28571462631226,"wires":[["26db14a3.938d4c"]]},{"id":"902403d1.939b","type":"http in","z":"274c197.8ce8de6","name":"","url":"/text-decrypt-aes-ecb","method":"post","upload":false,"swaggerDoc":"","x":168.33335876464844,"y":183.33332633972168,"wires":[["a53bdbc3.192ea8"]]},{"id":"d90b3d39.ddf7e","type":"http in","z":"274c197.8ce8de6","name":"","url":"/text-encrypt-aes-ecb","method":"post","upload":false,"swaggerDoc":"","x":169.33335876464844,"y":139.33332633972168,"wires":[["9d6ff1a8.e467d"]]},{"id":"9d6ff1a8.e467d","type":"function","z":"274c197.8ce8de6","name":"AES-256-ECB-ENCRYPTION (OpenSSL IBMCA)","func":"msg.payload = \"echo -n \"+ msg.payload +\" | openssl enc -e -aes-256-ecb -a -k \\\"MyDataKey\\\"\"\nreturn msg;","outputs":1,"noerr":0,"x":566.142936706543,"y":136.95239162445068,"wires":[["26db14a3.938d4c"]]},{"id":"a53bdbc3.192ea8","type":"function","z":"274c197.8ce8de6","name":"AES-256-ECB-DECRYPTION (OpenSSL IBMCA)","func":"msg.payload = \"echo \"+ msg.payload +\" |openssl base64 -d|openssl enc -d -aes-256-ecb -k \\\"MyDataKey\\\"\"\nreturn msg;","outputs":1,"noerr":0,"x":570.4286422729492,"y":181.952299118042,"wires":[["26db14a3.938d4c"]]},{"id":"ce3a49ed.0ec4b8","type":"http in","z":"274c197.8ce8de6","name":"","url":"/text-encrypt-aes-ofb","method":"post","upload":false,"swaggerDoc":"","x":170.00001525878906,"y":305.00001335144043,"wires":[["bc8e1601.af4168"]]},{"id":"fd23c32c.47a5a","type":"http in","z":"274c197.8ce8de6","name":"","url":"/text-decrypt-aes-ofb","method":"post","upload":false,"swaggerDoc":"","x":169.00001525878906,"y":349.00001335144043,"wires":[["41186ce4.c2e6b4"]]},{"id":"41186ce4.c2e6b4","type":"function","z":"274c197.8ce8de6","name":"AES-256-OFB-DECRYPTION (OpenSSL IBMCA)","func":"msg.payload = \"echo \"+ msg.payload +\" |openssl base64 -d|openssl enc -d -aes-256-ofb -k \\\"MyDataKey\\\"\"\nreturn msg;","outputs":1,"noerr":0,"x":571.0952987670898,"y":347.61898612976074,"wires":[["26db14a3.938d4c"]]},{"id":"bc8e1601.af4168","type":"function","z":"274c197.8ce8de6","name":"AES-256-OFB-ENCRYPTION (OpenSSL IBMCA)","func":"msg.payload = \"echo -n \"+ msg.payload +\" | openssl enc -e -aes-256-ofb -a -k \\\"MyDataKey\\\"\"\nreturn msg;","outputs":1,"noerr":0,"x":569.6667251586914,"y":306.9047894477844,"wires":[["26db14a3.938d4c"]]},{"id":"9dd69ec0.e35ee","type":"comment","z":"274c197.8ce8de6","name":"Encrypt with specified password. Encrypted message is base64-encoded afterwards.","info":"","x":484.9999694824219,"y":24.999998092651367,"wires":[]},{"id":"30fb6424.16fd6c","type":"comment","z":"274c197.8ce8de6","name":"Base-64 decode and decrypt message with specified password.","info":"","x":1039.9999542236328,"y":24.285736083984375,"wires":[]},{"id":"fde0d4de.fe2228","type":"exec","z":"ef631431.117878","command":"icastats | grep 'AES CFB' | awk '{print $4}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":418.5714225769043,"y":690.9285249710083,"wires":[["a265f81e.ee42c8"],[],[]]},{"id":"29fc5e38.35a542","type":"exec","z":"ef631431.117878","command":"icastats | grep 'AES CTR' | awk '{print $4}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":413.4761619567871,"y":745.9285249710083,"wires":[["cfb34320.9cccf"],[],[]]},{"id":"202cfb8d.a6fe64","type":"comment","z":"ef631431.117878","name":"ENCRYPTION","info":"","x":324.5238456726074,"y":540.2380876541138,"wires":[]},{"id":"d6722dbf.6ea79","type":"comment","z":"ef631431.117878","name":"DECRYPTION","info":"","x":321.4285659790039,"y":930.7141571044922,"wires":[]},{"id":"39c9bda.6dd8242","type":"exec","z":"ef631431.117878","command":"icastats | grep 'AES CBC' | awk '{print $5}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":419.90476989746094,"y":1029.7381086349487,"wires":[["39567b9e.d856e4"],[],[]]},{"id":"7c9494bf.b3951c","type":"exec","z":"ef631431.117878","command":"icastats | grep XTS | awk '{print $5}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":391.7142791748047,"y":1246.8333854675293,"wires":[["20900a35.955e16"],[],[]]},{"id":"66f0e476.81b8dc","type":"exec","z":"ef631431.117878","command":"icastats | grep GCM | awk '{print $5}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":404.3809814453125,"y":1192.500054359436,"wires":[["991e9907.5cab28"],[],[]]},{"id":"f818682d.160668","type":"exec","z":"ef631431.117878","command":"icastats | grep 'AES ECB' | awk '{print $5}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":413.0000305175781,"y":975.9285678863525,"wires":[["77818911.6795d8"],[],[]]},{"id":"300bc860.2f5ac8","type":"exec","z":"ef631431.117878","command":"icastats | grep 'AES CFB' | awk '{print $5}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":416.4285430908203,"y":1085.4523706436157,"wires":[["e7bc1cd0.63b81"],[],[]]},{"id":"d1f13f5b.9aaec","type":"exec","z":"ef631431.117878","command":"icastats | grep 'AES CTR' | awk '{print $5}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":411.3332824707031,"y":1140.4523706436157,"wires":[["4c4c9938.aa0038"],[],[]]},{"id":"df715885.b9eea8","type":"comment","z":"ef631431.117878","name":"HASH/PRNG","info":"","x":324.28570556640625,"y":271.4285888671875,"wires":[]},{"id":"f11801ff.3faaa","type":"debug","z":"edd55ed2.040d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":752.2999877929688,"y":96.40000915527344,"wires":[]},{"id":"41614193.8be14","type":"ui_button","z":"57eba910.12f6f8","name":"","group":"c0881ed9.015cb","order":1,"width":0,"height":0,"passthru":false,"label":"Let's benchmark!","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":117,"y":205,"wires":[["4f81209e.62ef1","a8e0009.d23ec","79ac5879.cd0878","409bb20e.c3eb6c","ea63b3c8.59128","6fba1df7.b7fdb4","b3b77429.090918","5b22de6b.28bd6","a2b654f2.6e87c8"]]},{"id":"866914f6.9b3088","type":"ui_text_input","z":"edd55ed2.040d6","name":"","label":"Clear text to encrypt (AES 256)","tooltip":"","group":"","order":1,"width":"8","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":493,"y":175.66665935516357,"wires":[["aca36f71.4aa46","f11801ff.3faaa"]]},{"id":"d287f0f8.44146","type":"ui_text_input","z":"edd55ed2.040d6","name":"","label":"Cipher text:","group":"33e7e9b4.bef006","order":2,"width":"8","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":1340.5713806152344,"y":151.52380561828613,"wires":[[]]},{"id":"bcec21d0.48f31","type":"ui_text_input","z":"edd55ed2.040d6","name":"","label":"Clear text to Hash (sha256)","tooltip":"","group":"2b36cd.3ea19934","order":2,"width":"9","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":482,"y":314.6666593551636,"wires":[["5c5b0e47.9a749","2f89c16.873143e","ecf69428.b77508","56b46c48.9d6794","94a69793.b4b318"]]},{"id":"eaedcf09.2164a","type":"ui_text_input","z":"edd55ed2.040d6","name":"","label":"SHA2-256 text:","tooltip":"","group":"9dcf0e61.e0edf","order":2,"width":"9","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":1343.2857971191406,"y":315.09523582458496,"wires":[[]]},{"id":"6e294270.e2e5dc","type":"ui_text_input","z":"edd55ed2.040d6","name":"","label":"SHA2-512 text:","tooltip":"","group":"9dcf0e61.e0edf","order":4,"width":"9","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":1342.2857971191406,"y":400.09523582458496,"wires":[[]]},{"id":"61e309ca.edaa88","type":"ui_text_input","z":"edd55ed2.040d6","name":"","label":"Cipher text to decrypt (AES 256):","tooltip":"","group":"1a970f19.e67741","order":1,"width":"8","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":504,"y":215.66665935516357,"wires":[["76580b54.ab0404","f11801ff.3faaa"]]},{"id":"f43dfdf7.fb256","type":"ui_text_input","z":"edd55ed2.040d6","name":"","label":"Clear text:","tooltip":"","group":"95ed56b.8c92da8","order":1,"width":"8","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":1342.4284973144531,"y":196.09522676467896,"wires":[[]]},{"id":"735ebcd3.020894","type":"ui_text_input","z":"edd55ed2.040d6","name":"","label":"Clear text to HMAC","tooltip":"","group":"ebc9dc00.2f36b","order":2,"width":"8","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":453,"y":578.6666593551636,"wires":[["8e003972.f6d318","a7119ae9.4f0b68"]]},{"id":"6a288fe4.aad0d","type":"ui_text_input","z":"edd55ed2.040d6","name":"","label":"HMAC SHA2-256:","tooltip":"","group":"9769ca58.e48d88","order":0,"width":"8","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":1007,"y":580.6666593551636,"wires":[[]]},{"id":"5d6ac488.dc8b6c","type":"ui_text_input","z":"edd55ed2.040d6","name":"","label":"HMAC SHA2-512:","tooltip":"","group":"9769ca58.e48d88","order":0,"width":"8","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":1004,"y":638.6666593551636,"wires":[[]]},{"id":"e1a3ed91.83116","type":"ui_text_input","z":"edd55ed2.040d6","name":"","label":"SHA2-384 text:","tooltip":"","group":"9dcf0e61.e0edf","order":3,"width":"9","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":1342.2857971191406,"y":357.09523582458496,"wires":[[]]},{"id":"9e83bbb0.c55b98","type":"ui_text_input","z":"edd55ed2.040d6","name":"","label":"SHA2-224 text:","tooltip":"","group":"9dcf0e61.e0edf","order":1,"width":"9","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":1343.7143325805664,"y":276.6666669845581,"wires":[[]]},{"id":"e11ade47.a2fab","type":"ui_text_input","z":"edd55ed2.040d6","name":"","label":"SHA3-512 text:","tooltip":"","group":"9dcf0e61.e0edf","order":5,"width":"9","height":"2","passthru":true,"mode":"text","delay":300,"topic":"","x":1340.8571090698242,"y":470.23808574676514,"wires":[[]]},{"id":"d16bc569.900948","type":"ui_text","z":"bd801066.093ef","group":"38936ada.f88dc6","order":0,"width":"0","height":"0","name":"","label":"Linux version:","format":"{{msg.payload}}","layout":"row-spread","x":775,"y":296,"wires":[]},{"id":"cd8a074d.a1c9e8","type":"ui_text","z":"bd801066.093ef","group":"38936ada.f88dc6","order":1,"width":0,"height":0,"name":"","label":"OpenSSL version:","format":"{{msg.payload}}","layout":"row-left","x":785,"y":369,"wires":[]},{"id":"d559e94d.21b778","type":"ui_text","z":"57eba910.12f6f8","group":"51f0901d.467d1","order":1,"width":0,"height":0,"name":"","label":"SHA1:","format":"{{msg.payload}}","layout":"row-left","x":823,"y":183,"wires":[]},{"id":"aa22d60e.044008","type":"ui_text","z":"57eba910.12f6f8","group":"51f0901d.467d1","order":2,"width":0,"height":0,"name":"","label":"SHA2-256:","format":"{{msg.payload}}","layout":"row-left","x":841,"y":239,"wires":[]},{"id":"5c7ad646.a73248","type":"ui_text","z":"57eba910.12f6f8","group":"698c5a4d.55b3f4","order":5,"width":0,"height":0,"name":"","label":"AES-128-GCM","format":"{{msg.payload}}","layout":"row-left","x":906,"y":597,"wires":[]},{"id":"c8535a7c.4deeb8","type":"ui_text","z":"57eba910.12f6f8","group":"698c5a4d.55b3f4","order":6,"width":0,"height":0,"name":"","label":"AES-256-GCM:","format":"{{msg.payload}}","layout":"row-left","x":905,"y":664,"wires":[]},{"id":"9406fab.9190408","type":"ui_text","z":"57eba910.12f6f8","group":"698c5a4d.55b3f4","order":3,"width":0,"height":0,"name":"","label":"AES-128-CBC:","format":"{{msg.payload}}","layout":"row-left","x":904,"y":502,"wires":[]},{"id":"4ed9bde9.0f1c64","type":"ui_text","z":"57eba910.12f6f8","group":"698c5a4d.55b3f4","order":4,"width":0,"height":0,"name":"","label":"AES-256-CBC:","format":"{{msg.payload}}","layout":"row-left","x":905,"y":553,"wires":[]},{"id":"8ef7ba48.90e5d8","type":"ui_text","z":"57eba910.12f6f8","group":"698c5a4d.55b3f4","order":1,"width":0,"height":0,"name":"","label":"AES-128-XTS","format":"{{msg.payload}}","layout":"row-left","x":907,"y":395,"wires":[]},{"id":"e094a308.209d2","type":"ui_text","z":"57eba910.12f6f8","group":"698c5a4d.55b3f4","order":2,"width":0,"height":0,"name":"","label":"AES-256-XTS:","format":"{{msg.payload}}","layout":"row-left","x":907,"y":446,"wires":[]},{"id":"809c7876.d41538","type":"ui_text","z":"57eba910.12f6f8","group":"51f0901d.467d1","order":3,"width":0,"height":0,"name":"","label":"SHA2-512:","format":"{{msg.payload}}","layout":"row-left","x":845,"y":289,"wires":[]},{"id":"6b6d9e93.23d8b","type":"ui_text","z":"274c197.8ce8de6","group":"d2d4edf4.9dbf9","order":3,"width":0,"height":0,"name":"","label":"TEXT - To encrypt a TEXT message:","format":"curl -X POST -d 'text data to be encrypted' -H \"Content-type: text/plain\" http://localhost:1880/text-encrypt-aes","layout":"row-left","x":1333.237907409668,"y":373.4762207865715,"wires":[]},{"id":"840e449c.27c5c8","type":"ui_text","z":"274c197.8ce8de6","group":"d2d4edf4.9dbf9","order":3,"width":0,"height":0,"name":"","label":"TEXT - To decrypt a TEXT message:","format":"curl -X POST -d 'encrypted data' -H \"Content-type: text/plain\" http://localhost:1880/text-decrypt-aes","layout":"row-left","x":1333.237907409668,"y":408.4762207865715,"wires":[]},{"id":"c7b80a51.ef9788","type":"ui_text","z":"274c197.8ce8de6","group":"808985ec.6e7908","order":2,"width":0,"height":0,"name":"","label":"To suscribe to the queue \"data to be encrypted\":","format":"mosquitto_sub -v -t 'topic/clear-text-data'","layout":"row-left","x":1375.0950393676758,"y":220.04763460159302,"wires":[]},{"id":"8c512ba0.423848","type":"ui_text","z":"274c197.8ce8de6","group":"808985ec.6e7908","order":3,"width":0,"height":0,"name":"","label":"To suscribe to the queue \"data to be decrypted\":","format":"mosquitto_sub -v -t 'topic/encrypted-text-data'","layout":"row-left","x":1375.0950393676758,"y":255.19048237800598,"wires":[]},{"id":"78b48467.424c6c","type":"ui_text","z":"274c197.8ce8de6","group":"808985ec.6e7908","order":4,"width":0,"height":0,"name":"","label":"To send a message to the \"data to be encrypted\" queue:","format":"mosquitto_pub -t 'topic/clear-text-data' -m 'hello World'","layout":"row-left","x":1393.0950393676758,"y":295.190482378006,"wires":[]},{"id":"ae34a4b5.f4ad98","type":"ui_text","z":"274c197.8ce8de6","group":"808985ec.6e7908","order":5,"width":0,"height":0,"name":"","label":"To send a message to the \"data to be decrypted\" queue:","format":"mosquitto_pub -t 'topic/encrypted-text-data' -m 'U2FsdGVkX1+2y8MCUF3GP94WyEQ44qL2z6cb8SCnSAw='","layout":"row-left","x":1393.0950393676758,"y":335.190482378006,"wires":[]},{"id":"d47912ab.d0d2","type":"ui_text","z":"bd801066.093ef","group":"38936ada.f88dc6","order":2,"width":0,"height":0,"name":"","label":"OpenSSL engine:","format":"{{msg.payload}}","layout":"row-left","x":784.2857055664062,"y":425.71429443359375,"wires":[]},{"id":"5e243e25.93d57","type":"ui_chart","z":"ef631431.117878","name":"","group":"12404516.87fc6b","order":4,"width":"8","height":"8","label":"Pseudo Random Number Generation (PRNG)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":774,"y":305,"wires":[[],[]]},{"id":"611f5384.66e1bc","type":"ui_chart","z":"ef631431.117878","name":"","group":"12404516.87fc6b","order":1,"width":"8","height":"8","label":"Secure Hash Algorithm Family 1 (SHA-1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":764.428596496582,"y":363.1428413391113,"wires":[[],[]]},{"id":"536bb7e.e22ec48","type":"ui_chart","z":"ef631431.117878","name":"","group":"12404516.87fc6b","order":3,"width":"8","height":"8","label":"Secure Hash Algorithm Family 2 (SHA2-512)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":773.1428680419922,"y":468.09526538848877,"wires":[[],[]]},{"id":"cfd798df.8751a8","type":"ui_chart","z":"ef631431.117878","name":"","group":"12404516.87fc6b","order":2,"width":"8","height":"8","label":"Secure Hash Algorithm Family 2 (SHA2-256)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":774.1428718566895,"y":414.7143044471741,"wires":[[],[]]},{"id":"c097ddd6.8de77","type":"ui_chart","z":"ef631431.117878","name":"","group":"750a30c2.7e35e","order":3,"width":"8","height":"8","label":"AES CBC (Encryption)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":750.4761924743652,"y":622.1427803039551,"wires":[[],[]]},{"id":"f879c406.d126a8","type":"ui_chart","z":"ef631431.117878","name":"","group":"750a30c2.7e35e","order":9,"width":"8","height":"8","label":"AES XTS (Encryption)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":748.4762306213379,"y":842.3332605361938,"wires":[[],[]]},{"id":"52757641.06cdf8","type":"ui_chart","z":"ef631431.117878","name":"","group":"750a30c2.7e35e","order":11,"width":"8","height":"8","label":"AES GCM (Decryption)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":749.2381706237793,"y":784.9048037528992,"wires":[[],[]]},{"id":"1a99e6ad.8a86d9","type":"ui_chart","z":"ef631431.117878","name":"","group":"750a30c2.7e35e","order":1,"width":"8","height":"8","label":"AES ECB (Encryption)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":753.3333435058594,"y":568.0951709747314,"wires":[[],[]]},{"id":"a265f81e.ee42c8","type":"ui_chart","z":"ef631431.117878","name":"","group":"750a30c2.7e35e","order":5,"width":"8","height":"8","label":"AES CFB (Encryption)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":756.9999656677246,"y":677.8570423126221,"wires":[[],[]]},{"id":"cfb34320.9cccf","type":"ui_chart","z":"ef631431.117878","name":"","group":"750a30c2.7e35e","order":7,"width":"8","height":"8","label":"AES CTR (Decryption)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":751.9047050476074,"y":732.8570423126221,"wires":[[],[]]},{"id":"39567b9e.d856e4","type":"ui_chart","z":"ef631431.117878","name":"","group":"750a30c2.7e35e","order":4,"width":"8","height":"8","label":"AES CBC (Decryption)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":748.3333129882812,"y":1016.6666259765625,"wires":[[],[]]},{"id":"20900a35.955e16","type":"ui_chart","z":"ef631431.117878","name":"","group":"750a30c2.7e35e","order":10,"width":"8","height":"8","label":"AES XTS (Decryption)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":746.3333511352539,"y":1236.8571062088013,"wires":[[],[]]},{"id":"991e9907.5cab28","type":"ui_chart","z":"ef631431.117878","name":"","group":"750a30c2.7e35e","order":12,"width":"8","height":"8","label":"AES GCM (Decryption)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":747.0952911376953,"y":1179.4286494255066,"wires":[[],[]]},{"id":"77818911.6795d8","type":"ui_chart","z":"ef631431.117878","name":"","group":"750a30c2.7e35e","order":2,"width":"8","height":"8","label":"AES ECB (Decryption)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":751.1904640197754,"y":962.6190166473389,"wires":[[],[]]},{"id":"e7bc1cd0.63b81","type":"ui_chart","z":"ef631431.117878","name":"","group":"750a30c2.7e35e","order":6,"width":"8","height":"8","label":"AES CFB (Decryption)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":754.8570861816406,"y":1072.3808879852295,"wires":[[],[]]},{"id":"4c4c9938.aa0038","type":"ui_chart","z":"ef631431.117878","name":"","group":"750a30c2.7e35e","order":8,"width":"8","height":"8","label":"AES CTR (Decryption)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":749.7618255615234,"y":1127.3808879852295,"wires":[[],[]]},{"id":"d59c5bd7.b24208","type":"ui_ui_control","z":"274c197.8ce8de6","name":"","x":1245.999885559082,"y":147,"wires":[["28e5fd43.dc43b2"]]},{"id":"217c1304.8beb9c","type":"ui_ui_control","z":"bd801066.093ef","name":"","x":245,"y":369,"wires":[["6d20f7db.05c438","4d93c231.c1032c","f261cd7a.6370a"]]},{"id":"c83efd6f.05a0e","type":"ui_ui_control","z":"ef631431.117878","name":"UI","x":72,"y":728.0000047683716,"wires":[["403959ad.076a58","dada07ef.8e5f18","e4676f4a.b1279","441b3338.aba56c","3b8ab46a.5a632c","58074b14.e88064","2a5ea5d4.310a4a","9b32117b.6acbc","f818682d.160668","39c9bda.6dd8242","300bc860.2f5ac8","d1f13f5b.9aaec","66f0e476.81b8dc","7c9494bf.b3951c","fde0d4de.fe2228","29fc5e38.35a542"]]},{"id":"28e5fd43.dc43b2","type":"ui_template","z":"274c197.8ce8de6","group":"957fda99.a81088","name":"","order":0,"width":0,"height":0,"format":"<html>\n    <head></head>\n    <body>\n        <h2>Available APIs are listed below:</h2>\n        <tr>A</tr>\n        <tr>A</tr>\n        <tr>A</tr>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1396.999885559082,"y":149,"wires":[[]]}]
